[2017-12-13 22:11] sammic30 opened #1 "yum install -y awx is failing"
Hi,

I'm following the (https://github.com/MrMEEE/awx-build/blob/master/installguide) steps and getting below error:

Error: Package: awx-1.0.2.272-1.el7.centos.x86_64 (mrmeee-awx-dev)
           Requires: libcrypto.so.10(OPENSSL_1.0.2)(64bit)
 You could try using --skip-broken to work around the problem
 You could try running: rpm -Va --nofiles --nodigest

I'm using "CentOS Linux release 7.3.1611

[2017-12-13 22:15] MrMEEE commented on #1
I think you need to upgrade to CentOS 7.4 to get this to work

[2017-12-13 22:17] sammic30 commented on #1
Is there any solution available for CentOS 7.3, CentOS 6.9 or RHEL 7.3?

[2017-12-13 22:24] MrMEEE commented on #1
My best idea would be that you download the src.rpm and a compile it yourself on a CentO7.3

[2017-12-13 22:51] sammic30 commented on #1
Previous openssl errors are resolved with CentOS 7.4 but now nginx is not starting up....
systemctl start nginx
Job for nginx.service failed because the control process exited with error code. See "systemctl status nginx.service" and "journalctl -xe" for details.

nginx.service: control process exited, code=exited status=1
systemd[1]: Failed to start The nginx HTTP and reverse proxy server.
system

[2017-12-13 23:01] MrMEEE commented on #1
Please post the errors from systemctl status nginx, as well as the nginx.conf

[2017-12-13 23:11] sammic30 commented on #1
systemctl status nginx
● nginx.service - The nginx HTTP and reverse proxy server
   Loaded: loaded (/usr/lib/systemd/system/nginx.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Wed 2017-12-13 23:09:17 UTC; 10s ago
  Process: 23916 ExecStartPre=/usr/sbin/nginx -t (code=exited, status=1/FAILURE)
  Process: 23914 ExecStartPre=/usr/bin/rm -f /run/nginx.pid (code

[2017-12-13 23:15] MrMEEE commented on #1
Try re-downloading the nginx.conf and try again...

[2017-12-13 23:41] sammic30 commented on #1
reinstalled ngnix and downloaded the nginx.conf again but still failing. test is fine now but it's timing out.

nginx.service - The nginx HTTP and reverse proxy server
   Loaded: loaded (/usr/lib/systemd/system/nginx.service; enabled; vendor preset: disabled)
   Active: failed (Result: timeout) since Wed 2017-12-13 23:38:17 UTC; 19s ago
  Process: 6764 ExecStart=/usr/sbin/nginx (code=exited, statu

[2017-12-14 00:07] sammic30 commented on #1
The issue is resolved by changing pid path
#pid        /tmp/nginx.pid;
pid        /var/run/nginx.pid;

[2017-12-14 06:12] MrMEEE commented on #1
Thanks.. I have changed it in the file

Everything else working?

[2017-12-14 18:34] sammic30 commented on #1
Thanks, everything else is working now.... :)

[2017-12-14 18:39] MrMEEE commented on #1
Great.. Thanks for the feedback

[2017-12-14 18:39] #1 closed, assigned to nobody

[2017-12-15 21:22] sammic30 commented on #1
Hi Martin,

Quick question, how to we setup proxy in this new installation? Earlier, I
was updating the proxy section in inventory file.

Regards
Sammi

On Thu, Dec 14, 2017 at 10:39 AM, Martin Juhl <notifications@github.com>
wrote:

--
Sumeet Singh
510.302.5415

[2017-12-15 21:45] MrMEEE commented on #1
Could we move this to a new issue, please?

Also, do you mean outgoing http proxy or ssh proxy for accessing hosts???

[2017-12-17 17:55] sammic30 commented on #1
Sure Martin, I'll open a new issue... Thanks

On Fri, Dec 15, 2017 at 1:45 PM, Martin Juhl <notifications@github.com>
wrote:

--
Sumeet Singh
510.302.5415

[2017-12-18 18:30] sammic30 opened #2 "curl: (35) TCP connection reset by peer and 503 errors"
I'm trying to use AWX with Openstack and while running bootstrap as a adhoc command I'm getting curl: (35) TCP connection reset by peer and 503 errors but when I execute manually directly on the server everything works fine.

on server if I do export http_proxy=http://xyz.com:8080 and export https_proxy=http://xyz.com:8080 than everything is working but from AWX I'm getting errors.

Can we use som

[2017-12-18 18:46] sammic30 commented on #2
FYI,
yum -y install git curl autoconf gcc gcc-c++ nc python2 python2-devel openssl-devel libffi-devel libselinux-python
https://copr-be.cloud.fedoraproject.org/results/mrmeee/awx-dev/epel-7-x86_64/repodata/repomd.xml: [Errno 14] curl#35 - "TCP connection reset by peer"
Trying other mirror.
https://download.postgresql.org/pub/repos/yum/9.6/redhat/rhel-7-x86_64/repodata/repomd.xml: [Errno 14] curl#3

[2017-12-18 20:50] MrMEEE commented on #2
Try to create the file "/etc/sysconfig/awx" with the following content:

http_proxy=http://proxy:3128
https_proxy=http://proxy:3128
no_proxy=mycorp.org

and restart all the services (or reboot).. see if that helps :)

[2017-12-18 21:36] tjyang opened #3 "Need doc on post install verificication"
@MrMEEE
Thanks for creating the awx repo, I was able to follow the install doc to the end and have a successful web GUI from http://localhost from F.F. in local Gnome or http://my-production-ip as shown in following screenshot.
![image](https://user-images.githubusercontent.com/378638/34129244-0a0664aa-e409-11e7-90c8-5d7356b09645.png)

Question is how can I get the login web page for AWX  ?

[2017-12-18 21:37] MrMEEE commented on #3
try accessing:

http://my-production-ip:8052

[2017-12-18 22:05] sammic30 commented on #2
Tried the above solution but still facing the same issue :-(

[awx-centos-v2 ~]# cat /etc/sysconfig/awx

http_proxy=http://xyz.com:8080
https_proxy=http:/xyz.com:8080
no_proxy=localhost,127.0.0.1,0.0.0.0

[2017-12-18 22:13] tjyang commented on #3
Here is more info, I can't browse localhost:{8050|8051|8052} locally or my-ip remotely.
[code]

* nginx http server configure file.
[code]

[2017-12-18 22:13] MrMEEE commented on #2
think I misunderstood you the first time, you are getting this issue under the installation, right???

Try putting the proxy lines in /etc/environment and do a logout/login

[2017-12-18 22:26] sammic30 commented on #2
Thanks, looks like it's resolved now.....
but will run one more test and confirm :)

[2017-12-18 22:34] MrMEEE commented on #3
Could you do "systemctl status awx-web"

[2017-12-19 00:03] tjyang commented on #3
1. Here is the awx-web stastus and selinux and firewalld info.

[code]

* Here is the browsing result on http://127.0.0.1:8050

![image](https://user-images.githubusercontent.com/378638/34134003-ba2d0bc2-e41d-11e7-93f6-6e4caa12d745.png)

[2017-12-19 10:07] MrMEEE commented on #3
I think you forgot to fetch the nginx configuration file, specified in the installation guide:

Try:

wget -O /etc/nginx/nginx.conf https://raw.githubusercontent.com/MrMEEE/awx-build/master/nginx.conf
systemctl restart nginx

[2017-12-19 11:13] tjyang commented on #3
@MrMEEE

Thanks for pointing out my mistake, I did the "wget ..." line again, now I login via :8052 port.

[2017-12-19 11:13] #3 closed, assigned to nobody

[2017-12-30 00:35] MrMEEE commented on #2
I will close this.. please re-open if this issue is not solved

[2017-12-30 00:36] #2 closed, assigned to nobody

[2018-02-27 03:26] bangnh1 opened #4 "Need guide to convert awx source code to .rpm"
Hi,
Thanks for your repo, I was able to follow the install doc (https://github.com/MrMEEE/awx-build/blob/master/installguide) to the end and it worked perfectly.
I want to build .rpm file for myself. I did not understand your awx-build.spec file.
Can you share a guide or your awx-1.0.x.x.tar.gz file?

[2018-02-27 09:37] MrMEEE commented on #4
Hi

The awx-1.x.x.x.x.tar.gz is build from the awx source..

Please look at my build-script "update-build.sh" in the build-scripts folder for inspiration :)

[2018-02-27 10:26] bangnh1 commented on #4
Where can i find buid.sh file? So I don't know what is in the link "/home/build/awx-rpm-build/awx"

![1](https://user-images.githubusercontent.com/29230374/36723577-43244d30-1be3-11e8-8e3a-47618f71694e.PNG)

[2018-02-27 10:29] MrMEEE commented on #4
https://github.com/subuk/awx-rpm

[2018-02-27 10:33] MrMEEE commented on #4
What is the reason why you want to build the rpm's yourself??

[2018-02-28 08:33] bangnh1 commented on #4
The docker version have few limitations, I wasn't able handle them. I hope AWX can connect to server via socks proxy.

[2018-02-28 09:26] MrMEEE commented on #4
Yeah, I know.. but I meant, why can't you just use my RPM's?

[2018-02-28 10:14] bangnh1 commented on #4
I want to customize some features from the source code. Awx was great but it could still be better

[2018-03-01 11:34] irab opened #5 "Your API key is public..."

[2018-03-01 12:42] MrMEEE commented on #5
Thanks...

[2018-03-01 12:42] #5 closed, assigned to nobody

[2018-03-01 13:15] bangnh1 commented on #4
Finally, I could build rpm for myself. I have built 2 versions from released source code, version 1.0.2 and 1.0.4.
Version 1.0.2: everything goes smoothly, I'm done with several tasks.
Version 1.0.4: Tasks couldn't be done. It's blank.

Did you experience the same issues? Any ideas to solve the issues or catch logs

![capture](https://user-images.githubusercontent.com/29230374/36846421-1ecfe8ee-1d

[2018-03-05 20:18] Lobout commented on #4
Can you upgrade your build to awx 1.0.4?

[2018-03-05 20:59] Lobout opened #6 "Latest build of awx"
Do you plan on updating this to the latest build of awx (1.0.4) and ansible(2.4.3)?

[2018-03-05 21:01] MrMEEE commented on #6
Should already be in the dev repo?..

[2018-03-05 21:13] Lobout commented on #6
ok.  i went with the stable repo, assumed 1.0.4 would be part of that.

[2018-03-05 21:15] MrMEEE commented on #6
It will be, just haven't had the time.. The dev repo is automatically updated
 Sendt fra min BlackBerry - den sikreste mobilenhed Fra: notifications@github.com Sendt: 5. marts 2018 10.14 PM Til: awx-build@noreply.github.com Svar til: reply@reply.github.com Cc: mj@casalogic.dk; comment@noreply.github.com Emne: Re: [MrMEEE/awx-build] Latest build of awx (#6)
ok.  i went with the stable repo, assumed

[2018-03-05 22:23] Lobout commented on #6
ok just installed based off the dev repo, awx build shows 1.0.4.46, but ansible version still reflects 2.3.1.0, and I am not able to get passed the login screen(pulled this information from the api/v1/config page)

[2018-03-05 23:21] MrMEEE commented on #6
Ok.. 1.0.4.48 should have ansible 2.4.3..

I have the same issue, can't get passed the login screen.. don't know what causes this yet...

I have tried creating a ticket at awx, but they closed it... https://github.com/ansible/awx/issues/1423

Will try IRC...

[2018-03-06 09:40] sunilsankar commented on #6
Hi can you please check whether this is because this variable

https://github.com/ansible/awx/commit/0e9a8d559255761e5e902634374cee7b75c1dca8

CELERY_BROKER_URL to BROKER_URL

[2018-03-06 17:38] Lobout commented on #6
sunil-  tried making those changes and couldn't get the build to install, so there is something a bit more, but that seems to be on the right track.

[2018-03-06 17:58] MrMEEE commented on #6
I think the login issues are related to my build process (not doing a clean, so old deps are left behind)..

Builds 1.0.4.49 and 50 should have this fixed, but I haven't had the time to test.. Will do this later..

[2018-03-06 21:22] MrMEEE commented on #6
Ok.. just updated to 1.0.4.52..

Now login is working again :)..

Websockets are not :(... looking into it

[2018-03-07 06:49] sunilsankar commented on #6
cool, I will also have a look into the code.

[2018-03-07 09:50] MrMEEE commented on #6
Daphne fails:

mar 06 22:20:04 akiva.outerrim.lan daphne[10618]: 2018-03-06 22:20:04,844 WARNING  The current value "{u'ACCESS_TOKEN_EXPIRE_SECONDS': 31536000000, u'REFRESH_TOKEN_EXPIRE_SECONDS': 31536000000, u'AUTHORIZATION_CODE
mar 06 22:20:04 akiva.outerrim.lan daphne[10618]: Traceback (most recent call last):
mar 06 22:20:04 akiva.outerrim.lan daphne[10618]: File "/opt/awx/embedded/lib/python2

[2018-03-07 10:48] MrMEEE commented on #6
https://github.com/ansible/awx/issues/1464

[2018-03-07 15:54] MrMEEE commented on #6
I think I fixed it.. added a line to the configuration (/etc/awx/settings.py):

ANSIBLE_VENV_PATH = '/opt/awx/embedded'

and created folder

mkdir /var/lib/awx/venv && chown awx:awx /var/lib/awx/venv

and

yum install bubblewrap

It seems to work here now :)

[2018-03-16 17:02] Rpera opened #7 "Error - awx-manage inventory_import"
Hello, Sorry if here is not the right place for this. But i'm having a issue with the build: 1.0.4.98-1.el7.centos

I can't import any inventories into awx instance. Is this already being handle?

Output command line:
[root@towerawx ruipereira]# awx-manage inventory_import --source=/var/lib/awx/projects/ruipereira/inventories/Net_80/hosts --inventory-name="80" --overwrite --overwrite-vars
Tracebac

[2018-03-16 20:49] MrMEEE commented on #7
hi..

try:
sudo -u awx /opt/awx/bin/awx-manage {rest of your arguments)

[2018-03-18 23:02] chuegel opened #8 "errors importing inventory: Permission denied"
I cannot import any inventories. The job fails with:

[code]
Any help is much appreciated.

[2018-03-19 08:49] chuegel commented on #8
There where permissions missing on `/opt/awx/embedded`

`chmod 744 -R /opt/awx/embedded` fixed the issue

[2018-03-19 08:49] #8 closed, assigned to nobody

[2018-03-19 18:01] MrMEEE commented on #8
Hi

In which version did you encounter this?? I think I fixed this a while back

[2018-03-19 18:02] MrMEEE commented on #8
but thanks for the feedback

[2018-03-21 07:35] #4 closed, assigned to nobody

[2018-03-21 14:00] MrMEEE commented on #4
Does it work now?

[2018-03-21 14:19] bangnh1 commented on #4
After many trials, I decided to go back to the docker version. I have built a local image. I think it more stable and easier to solve issues.

[2018-03-21 15:45] Lobout commented on #4
I have not had a chance to test yet.  I'll try and get to it soon and let
you know.

From:   Martin Juhl <notifications@github.com>
To:     MrMEEE/awx-build <awx-build@noreply.github.com>
Cc:     Lobout <wmedley@why-me.com>, Comment <comment@noreply.github.com>
Date:   03/21/2018 10:00 AM
Subject:        Re: [MrMEEE/awx-build] Need guide to convert awx source
code to .rpm (#4)

Does it work now?
—

[2018-03-22 17:54] chuegel commented on #8
I used this repo `wget -O /etc/yum.repos.d/awx-rpm.repo https://copr.fedorainfracloud.org/coprs/mrmeee/awx-dev/repo/epel-7/mrmeee-awx-dev-epel-7.repo
`4 days ago.

[2018-03-22 21:35] MrMEEE commented on #8
hmm... weird.. thanks for the feedback

[2018-03-26 17:05] Rpera commented on #7
Hello MRMEEE,

Sorry for the late feedback but i've updated to teh latest build and I still gto this error when i tried to update an inventory:

[root@towerawx tofh]# sudo -u awx /opt/awx/bin/awx-manage inventory_import --source=/var/lib/awx/projects/ruipereira/inventories/Net_80/hosts --inventory-name="81net" --overwrite --overwrite-vars
2018-03-26 17:01:04,253 INFO     awx.main.commands.inventor

[2018-03-26 21:53] MrMEEE commented on #7
Hi

Could you send me your inventory script?

[2018-03-27 10:07] Rpera commented on #7
Hi,

Sure you want my hosts file? or what do you mean by inventory script?

I've attached my hosts file.

Thank-you in advance for your support
Best Regards
Rui Pereira
[hosts.txt](https://github.com/MrMEEE/awx-build/files/1851462/hosts.txt)

[2018-03-27 10:13] MrMEEE commented on #7
Works perfectly here:

[root@akiva ~]# sudo -u awx /opt/awx/bin/awx-manage inventory_import --source=/tmp/hosts --inventory-name="test" --overwrite --overwrite-vars
2018-03-27 10:11:51,248 INFO     awx.main.commands.inventory_import Updating inventory 3: test
2018-03-27 10:11:51,293 INFO     awx.main.commands.inventory_import Reading Ansible inventory source: /tmp/hosts
2018-03-27 10:11:52,047 INF

[2018-03-27 10:22] Rpera commented on #7
Hi,

I've updated last night awx to the following version:

[tofh@towerawx ~]$ sudo yum list awx
[sudo] password for tofh:
Installed Packages
awx.x86_64                                                        1.0.5.3-1.el7.centos                                                        @mrmeee-awx-dev

[2018-03-27 10:38] MrMEEE commented on #7
Did you remember to run the database migrations???

[2018-03-27 10:41] Rpera commented on #7
Yes I run database migration and i didn't have any errors.
Do you think if i install a new machine from scratch this problem disappear?

[2018-03-27 10:43] MrMEEE commented on #7
Don't know, but it works here?... you could also try to do a:

yum remove awx
rm -rf /opt/awx
yum install awx

[2018-03-27 10:52] Rpera commented on #7
Ok, I will give it another try and let you know how it ended.

Best Regards
Rui Pereira

[2018-03-27 10:52] MrMEEE commented on #7
cool :)

[2018-03-27 15:25] Rpera commented on #7
Just to let you know that i've manage to import the inventory from the command line but from the AWX GUI i still have the same error. (see initial post from me).
However i found now that from AWX GUI we don't have information for the output jobs.
![awx_error](https://user-images.githubusercontent.com/26353235/37977178-2ca7512a-31db-11e8-9863-a51302bade10.png)

Do you have this situation as well?

[2018-03-27 16:30] MrMEEE commented on #7
How exactly do you configure awx to use the hosts file???
Please show me a screenshot from the "Inventory Scripts" page, that you use?

I have kind of dropped the stable build branch, since it seems that there are no stable builds comming from the AWX people.. thought they would have some stable releases, but as far as I can see, it's just running with the devel-branch.. But I will try to look int

[2018-03-27 16:30] MrMEEE commented on #7
BTW. I get the same error as you, if I use a script that doesn't return valid json...

[2018-03-27 19:17] tjyang opened #9 "Please update AWX icons"
From angry potato icons to the ones at https://github.com/ansible/awx-logos/tree/master/awx/ui/client/assets

Thanks

[2018-03-27 19:20] MrMEEE commented on #9
Noooooo.... I love the angry potato :) I think i'm gonna keep the potato...

Might do an option for using the other icons though :)

[2018-03-27 19:35] tjyang commented on #9
@MrMEEE

Thanks for the consideration. I was not aware there is supporter for angry potato ;)
I don't want to attract unnecessary attention for AWX in an Enterprise setting.
So I replaced it from the instance I installed. Hope this can be fixed/added in rpm.

* [After update.](https://user-images.githubusercontent.com/378638/37990296-76abb820-31cb-11e8-885b-cb9fc4c77417.png)

BTW, great job on mak

[2018-03-28 09:59] Rpera commented on #7
Just to sum up:
- From AWX GUI i can't import any inventory via source. It gives me the error that i've posted here (1st post from me)
- From command line i was able to import the hosts files via the command that i already show you:
sudo -u awx /opt/awx/bin/awx-manage inventory_import --source=/var/lib/awx/projects/ruipereira/inventories/Net_81/hosts --inventory-name="Net_81"

The problem now is t

[2018-03-28 11:22] MrMEEE commented on #7
What do you have in the "Sources" tab under inventories???

Which inventory scripts do you have under "Inventory Scripts"????

[2018-03-28 12:45] Rpera commented on #7
under sources:
![image](https://user-images.githubusercontent.com/26353235/38029343-7edfcd16-328d-11e8-8350-b793ad7e73d4.png)

I don't have any inventory Scripts.
![image](https://user-images.githubusercontent.com/26353235/38029621-3bd69f9e-328e-11e8-85a0-3a651f3f1c79.png)

Why do i need this? I sync the project via GIT to the AWX and then run a cronjob script that imports in to awx the inventorie

[2018-03-28 13:34] MrMEEE commented on #7
Sry.. thought you were doing scripts...

I have the same error as you, but I have found another way...

If you add a source, type "Sourced from a project", and then choose the git repo that you have the inventory in.. then you can choose the file, and a least here, it imports correctly.. The job still looks weird, but it works...

[2018-03-28 13:47] Rpera commented on #7
Hum..I think this is not yet in a phase that we can work on a daily basis with the tool. (unfortunately )

AWX without the log feature fully working, for me don't make much sense..In this the case i rather work directly with ansible core.

I will wait a couple of weeks, and then, I will comeback to this again. Maybe in a most-up-to-date version of awx build all of these problems are gone.

Thank-y

[2018-03-28 13:54] ghost opened #10 "Unable to run job template"
Hi,

I can run following playbook from command line and it executes fine. However, it fails when running through AWX. Here is my playbook:

---
- hosts: all
  gather_facts: no
  connection: local

  vars:
    ansible_connection: network_cli
    ansible_network_os: ios
    ansible_user: cisco
    ansible_ssh_pass: cisco
    ansible_become: yes
    ansible_become_method: enable
    ansible_become_pa

[2018-03-28 14:06] MrMEEE commented on #10
Have you tried defining the connection options (username, password ansible_connection) in the inventory or on the host instead???

Does "normal" connections (ssh) work???

[2018-03-28 14:07] MrMEEE commented on #6
@sunilsankar Can you confirm that this works now???

[2018-03-28 14:34] sunilsankar commented on #6
I will test it and let you know last time I did it failed will do it today

Regards
Sunil

[2018-03-28 20:57] ghost commented on #10
I think the problem is embedded ansible. The version of embedded Ansible is 2.3.1.0  with AWX 1.0.2.0. While my system ansible is 2.5.0 and that works fine.

is there a way to update embedded version or direct awx to use system ansible instead of embedded one?

[2018-03-28 21:34] MrMEEE commented on #10
Hi

Can you please try to update to AWX 1.0.5.X.. in the dev-repo:

wget -O /etc/yum.repos.d/awx-rpm.repo https://copr.fedorainfracloud.org/coprs/mrmeee/awx-dev/repo/epel-7/mrmeee-awx-dev-epel-7.repo

The stable is currently not being updated, as the upstream awx project doesn't release any stable releases...

in 1.0.5 there is Ansible 2.4.3... I will soon update to 2.5.. just waiting a little to

[2018-03-28 21:57] ghost commented on #10
Question: All I have to do is to remove /opt/awx folder, reinstall awx and migrate? Would these commands work for migration?

yum update
sudo -u awx /opt/awx/bin/awx-manage makemigrations
sudo -u awx /opt/awx/bin/awx-manage migrate

[2018-03-28 22:00] MrMEEE commented on #10
Don't remove the /opt/awx folder.. the yum update will replace your installation..
So add the new repo file into /etc/yum.repos.d/
and run

yum update
sudo -u awx /opt/awx/bin/awx-manage makemigrations
sudo -u awx /opt/awx/bin/awx-manage migrate

That should do it

[2018-03-28 22:05] ghost commented on #10
migrate is failing.

sudo -u awx /opt/awx/bin/awx-manage migrate
Operations to perform:
  Apply all migrations: auth, conf, contenttypes, djcelery, main, network_ui, oauth2_provider, sessions, sites, social_django, sso, taggit
Running migrations:
  Applying djcelery.0001_initial... OK
  Applying main.0009_v322_add_setting_field_for_activity_stream... OK
  Applying main.0010_v322_add_ovirt4_tower_i

[2018-03-28 22:08] MrMEEE commented on #10
sry.. I have no idea howto fix that.. something not nice, has apparently been changed in the database structure... :(...

[2018-03-28 22:11] ghost commented on #10
No worries. Thank you for the help. I am spinning up a new VM and reinstall everything from scratch. Will let you know if I make any progress.

[2018-03-28 22:45] MrMEEE commented on #10
Great..

I have been updating my server from 1.0.3 and up to the newest version... had no migration issues.. :)

[2018-03-28 23:23] ranarashid commented on #10
I am getting following error, both from the command line and UI.

[root@localhost bin]# ./ansible-playbook -vvv -i /var/lib/awx/projects/ios/inventory /var/lib/awx/projects/ios/test.yml
ansible-playbook 2.4.3.0
  config file = None
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /opt/awx/embedded/lib/py

[2018-03-28 23:41] MrMEEE commented on #10
ahh... network_cli is new from Ansible 2.5...

I have pushed changes to implement Ansible 2.5.. Will notify you when the build is done...

[2018-03-28 23:55] ghost commented on #10
Here is the update. I have solved the problem by installing ansible version 2.4.3.0, same as embedded, system wide too. Now the playbook seems to run ok. Apparently the subprocess.py was outdated in the default OS modules.

Thank you for your help! will love to hear when 2.5 build is done.

[2018-03-29 00:34] MrMEEE commented on #10
It seemed to build ok in my setup.. awx-1.0.5.19 has been pushed to the COPR build service and should be available within the next half hour...

Let me hear how it goes... :)

[2018-03-29 15:32] ghost commented on #10
Thanks for the heads up, will give it a shot!

[2018-03-29 15:32] #10 closed, assigned to MrMEEE

[2018-04-03 11:43] MrMEEE commented on #7
Can you try to do a:

chmod 744 -R /opt/awx/embedded

Logs works here now..

[2018-04-04 15:28] bangnh1 commented on #9
Have you ever replace logo-header.svg in static folder?

[2018-04-04 15:29] tjyang commented on #9
@bangnh1 , Yes, I did. But it was a manual process.

[2018-04-05 10:42] MrMEEE commented on #6
Did you get it to work???

[2018-04-08 15:13] sunilsankar commented on #6
it works great we can close this. Sorry for testing it late

[2018-04-08 15:35] #6 closed, assigned to MrMEEE

[2018-04-09 14:16] Rpera commented on #7
Hi,

Thank-you for the tip!! It's works also from here!
I will test it more, but at least now, I think i'm able to run some playbooks.

Best Regards
R&P

[2018-04-09 14:32] MrMEEE commented on #7
Great.. thanks for the feedback

[2018-04-09 14:32] #7 closed, assigned to MrMEEE

[2018-04-10 18:23] tjyang opened #11 "*awx/main/migrations uid:gid should be awx:awx ?"
* I try to follow the upgrade procedure encounter following issue
[code]

[2018-04-10 19:47] tjyang commented on #11
This permission issue is fixed at 1.0.5 version rpm.

[2018-04-10 19:47] #11 closed, assigned to nobody

[2018-04-10 21:06] MrMEEE commented on #11
Great.. thanks for testing :)

[2018-04-10 21:36] tjyang opened #12 "AWX rpm roadmap"
Hi @MrMEEE

What is the future roadmap for this awx-build project ?

I have  a few  concerns.

1. awx-rpm is not available in EPEL repo.
2. There are only two persons working on awx rpm project.
3. AWX team is not willing to support  rpm install aproach.

What is your thought ?

[2018-04-10 22:23] MrMEEE commented on #12
Hi

On the short run.. I will just keep building rpms and fixing bugs as good as I can..

I have already tried to push the package into epel, but there is one major issue..

Right now the awx installation just grab a LOT of python dependencies during the build, and this is not supported by EPEL, as they do not allow builds that pulls stuff from the internet..

So in short, the build of awx into EP

[2018-04-11 02:43] tjyang commented on #12
@MrMEEE
I will spent time on  awx rpm effort and submit PR if I have things to contribute.

[2018-04-11 11:46] tjyang opened #13 "licence file for awx-build"
Hi @MrMEEE

AWX project is using apache license.
Is your awx-build project  also using apache license ?
If so can you add apache license file ?

[2018-04-11 15:21] Rpera opened #14 "Backup and Restore database of AWX"
Hello,

Do you manage to backup and restore awx postgres database?
I want to create a script that backup all the necessary to use on prior installations of awx.

Do you use already anything for this?

Thank-you
Best Regards
R&P

[2018-04-12 11:26] MrMEEE commented on #14
Hi

I haven't looked into backup (yet, on the todo list)..

I would suggest that you look into the backup/restore playbooks from Ansible Tower:

http://releases.ansible.com/ansible-tower/setup/ansible-tower-setup-3.2.3.tar.gz

I think they will work with a little modification..

[2018-04-12 11:27] MrMEEE commented on #13
Hi

Haven't really thought about licenses.. (don't really care)..

But will have it as a todo..

[2018-04-16 18:34] Lobout opened #15 "Missing requirements in latest build"
looks like the latest build is missing the bcrypt requirements

ERROR! Unexpected Exception, this is probably a bug: The 'bcrypt>=3.1.3' distribution was not found and is required by paramiko

This affect being able to run the inventory script to obtain inventory from Satellite

[2018-04-16 21:17] MrMEEE commented on #15
hmmm... It works here (ignore the ssl error):

2018-04-16 21:15:44,748 INFO     awx.main.commands.inventory_import Updating inventory 4: Katello
2018-04-16 21:15:44,775 INFO     awx.main.commands.inventory_import Reading Ansible inventory source: /opt/awx/embedded/lib/python2.7/site-packages/awx/plugins/inventory/foreman.py
2018-04-16 21:15:51,986 ERROR    awx.main.commands.inventory_import /opt/a

[2018-04-16 21:19] MrMEEE opened #16 "Auto Database upgrade"
TODO: Make RPM run makemigrations and migrate + error handling

[2018-04-16 21:30] Lobout commented on #15
I assume you're using Cent OS. I'm running redhat 7.5. I'm wondering if it's specific to redhat 7.5 as they broke dependencies with satellite 6 3 I'm still waiting on the fix for that from them. I will try to rebuild on redhat 7.4 and let you know

Sent from IBM Verse

  Martin Juhl --- Re: [MrMEEE/awx-build] Missing requirements in latest build (#15) ---

  From:"Martin Juhl" <notifications@githu

[2018-04-16 21:45] MrMEEE commented on #15
Just tried it on a RHEL earlier today, where it was working, but I think it wasn't patched to 7.5...

Will check tomorrow..

[2018-04-17 08:13] MrMEEE commented on #15
I have a RHEL 7.4 here, where it works...

So it still might be something in 7.5 that breaks...

[2018-04-17 13:35] Lobout commented on #15
Ok so I replicated the issue with a fresh install on RHEL 74.  Once I install the missing components bcrypt and pyacl everything works fine.

Installing them. On rhel75 seems to have fixed it there too

Sent from IBM Verse

  Martin Juhl --- Re: [MrMEEE/awx-build] Missing requirements in latest build (#15) ---

  From:"Martin Juhl" <notifications@github.com>To:"MrMEEE/awx-build" <awx-build@noreply

[2018-04-17 14:04] MrMEEE commented on #15
That's really weird... Haven't got them installed here..

Hmmm... wonder if it's some package that you are missing, that makes your installation unable to detect it in the virtuelenv...

Could you post a complete package list for the system (rpm -qa)

[2018-04-17 14:38] Lobout commented on #15
nss-3.28.4-15.el7_4.x86_64
python-idna-2.4-1.el7.noarch
libdmx-1.1.3-3.el7.x86_64
cjkuni-uming-fonts-0.2.20080216.1-53.el7.noarch
dleyna-server-0.5.0-2.el7_4.x86_64
libassuan-2.1.0-3.el7.x86_64
iwl7260-firmware-22.0.7.0-58.el7_4.noarch
fuse-2.9.2-8.el7.x86_64
stix-fonts-1.1.0-5.el7.noarch
abrt-gui-2.1.11-48.el7.x86_64
libstdc++-4.8.5-16.el7_4.2.i686
libkkc-data-0.3.1-9.el7.x86_64
gettext-libs-0.19

[2018-04-17 15:05] Lobout commented on #15
To expand on this a bit.   I built a RHEL 7.4 server, had everything up and running, performed an inventory and all was working, I then applied the 7.5 updates and tried to run the inventory again.  This failed with the same messages, so it appears something in the update removes the packages.  I had to install python2-pip and then install the bcrypt and pyacl packages to restore functionality.I k

[2018-04-18 07:06] MrMEEE commented on #15
have you tried installing the bcrypt and pyacl packages from the RHEL repo instead?

Could you post the complete error output?

[2018-04-19 16:34] Lobout commented on #15
So it appears that there are several issues with python.  They may be unique to my enironment, but after installing the missing bcrypt and pyacl packages, i thought things were working, but now it appears that it can't find the requests module, even though it is actually installed.  I am going to go back to the 1.0.4.x build and see if the issue still exists.

[2018-04-19 18:11] Lobout commented on #15
So even going back to the last 1.0.4 build it is not installing all of the
python requirements

2018-04-19 18:08:37,550 INFO     awx.main.commands.inventory_import
Updating inventory 2: Satellite
2018-04-19 18:08:37,558 INFO     awx.main.commands.inventory_import
Reading Ansible inventory source:
/opt/awx/embedded/lib/python2.7/site-packages/awx/plugins/inventory/foreman.py
Traceback (most recent

[2018-04-19 18:18] Lobout commented on #15
Also after installing the python packages, python runs as the awx user,
but the awx user does not have permissions to the inventory source.  The
directory is owned by root, and root has full access, all others have read
and execute, but no write.  this is a simple fix by giving everyone full
access to the /opt/awx directory.

stderr:
ERROR! Could not parse inventory source
/opt/awx/embedded/lib/py

[2018-04-19 21:56] MrMEEE commented on #15
I don't get it.. I have just done 3 installation on RHEL with 1.0.5.. no issues...

How is your RHEL installed?.. Minimal??

[2018-04-20 01:09] Lobout commented on #15
It is installed as server with gui. I have a vmware template that has been
fine for all other builds, just something later in the 1.0.4 and the 1.0.5
builds is different.  Once I install the missing packages all works fine.

From:   Martin Juhl <notifications@github.com>
To:     MrMEEE/awx-build <awx-build@noreply.github.com>
Cc:     Lobout <wmedley@why-me.com>, Author <author@noreply.github.com>

[2018-04-25 08:42] MrMEEE commented on #15
Very weird...

My best guess is that because you have a specific python package installed, that package overloads the one installed inside the virtualenv for awx.. and then ignores the rest of the packages inside the virtualenv...

This is my list of python packages, installed on a RHEL7 server (minimal).. AWX 1.0.5 running without issues:

[root@dc0awx01 ~]# rpm -aq |grep python
python-gofer-prot

[2018-04-27 19:21] tjyang opened #17 "awx 1.0.6: "NameError: name 'Queue' is not defined""
Hi @MrMEEE

The dev repo is now hosting  1.0.6.0-1 version of AWX rpm.
Do you know how to resolve issue like "NameError: name 'Queue' is not defined" ?

[code]

[2018-04-27 19:52] MrMEEE commented on #17
Try to comment out this line in /etc/awx/settings.py:

CELERY_QUEUES += (Queue(CLUSTER_HOST_ID, Exchange(CLUSTER_HOST_ID), routing_key=CLUSTER_HOST_ID),)

Now I get a migration error:

Traceback (most recent call last):
  File "/opt/awx/bin/awx-manage", line 11, in <module>
    sys.exit(manage())
  File "/opt/awx/embedded/lib/python2.7/site-packages/awx/__init__.py", line 109, in manage
    execut

[2018-04-28 09:05] MrMEEE commented on #17
Just got an answer from the AWX Team:

"Upgrades between AWX versions are not expected to work.  However, we have recently added an import/export capability to tower-cli/awx-cli, which allows you to export your job templates and other objects (not including credential secrets) to a JSON file, which you can then re-import to a freshly installed 1.0.6."

They are referring to the awx-cli tool from t

[2018-04-28 21:43] MrMEEE commented on #17
I'm working on something like this (if you want to try, not testet proberly):

awx-cli receive --credential all > credentials
awx-cli receive --all > data
awx-cli receive --project all > project

systemctl stop awx-celery-worker awx-cbreceiver awx-celery-beat awx-channels-worker awx-daphne awx-web
su - postgres -c "dropdb awx"
su - postgres -c "createdb -O awx awx"

sudo -u awx /opt/awx/bin/awx-ma

[2018-04-29 12:56] palachu commented on #17
Hi @MrMEEE

I'm having the same problem both from fresh installation or upgrading to anything higher than 1.0.5.32

[2018-04-29 13:42] MrMEEE commented on #17
@palachu: have you tried commenting out the Line:
CELERY_QUEUES += (Queue(CLUSTER_HOST_ID, Exchange(CLUSTER_HOST_ID), routing_key=CLUSTER_HOST_ID),)

In settings.py??

[2018-04-29 15:28] unixfox commented on #17
A fresh install of awx 1.0.6 doesn't work.
I tried to comment the line @MrMEEE but that gives me another error:
[code]

[2018-04-29 15:50] MrMEEE commented on #17
I think that you might have left some _auto_ files in the migration folder...???

Or did you do a complete reinstall of the server??

Try removing all _auto_ and _merge_ files in the migration folder

[2018-04-29 15:58] unixfox commented on #17
I did as usual:
[code]
After upgrading to 1.0.6 (I didn't know that the upgrade was broken).

Now I purged & reinstalled awx because I didn't have anything on it and I reinstalled an older version of awx (1.0.5). Do you want me to upgrade a second time to 1.0.6 for testing the upgrade?

[2018-04-29 16:13] MrMEEE commented on #17
It would be great if you could try the updated upgrade guide, to verify that it works... Maybe add some entries in awx first...

[2018-04-29 17:29] unixfox commented on #17
How do I get `awx-cli`? From here: https://github.com/NarrativeTeam/awx-cli?

[2018-04-29 18:02] MrMEEE commented on #17
I used this:

https://github.com/ansible/tower-cli

I will push a rpm soon, probably later today...

[2018-04-29 18:33] MrMEEE commented on #17
I have just pushed a SRPM to the dev repo.. it's currently building and should be available soon...

yum install ansible-tower-cli

[2018-04-29 18:45] MrMEEE commented on #17
ansible-tower-cli should be available now :)

[2018-04-29 18:48] unixfox commented on #17
Thank you @MrMEEE, I installed it manually but I appreciate your help :).

I got a working AWX with the version 1.0.6 by following your guide and your advice https://github.com/MrMEEE/awx-build/issues/17#issuecomment-385076675:

[code]

For importing the previously exported data I got an error on the command `awx-cli send -u user -p password project`:
[code]

[2018-04-29 21:18] MrMEEE commented on #17
In which order did you import???

[2018-04-29 21:29] unixfox commented on #17
[code]
then
[code]

[2018-04-29 21:50] MrMEEE commented on #17
The guide will probably need to change the export to:

awx-cli receive --organization all --team all --credential_type all  --credential all  --notification_template all --user all --inventory_script all  --inventory all  --project all  --job_template all  --workflow all > alldata

and

import to:

awx-cli send alldata

[2018-04-29 22:38] palachu commented on #17
Thanks guys I got it working by commenting out that line and cleaning old migrations.

[2018-04-30 09:35] MrMEEE commented on #17
This is definitely not the best upgrade path... as far as I can see i'm loosing:

Users (export is blank), and therefore user permissions
Log/History
Inventory Groups
Credential passwords
LDAP/Auth config

Would be easier if the migration stuff would work...

[2018-04-30 16:14] wdhowe commented on #17
Just wanted to add my confirmation here.

Fresh install of the latest awx rpm (1.0.6.1-1) on a new CentOS 7.4 system worked correctly AFTER commenting out the CELERY_QUEUES line.

/etc/awx/settings.py

#CELERY_QUEUES += (Queue(CLUSTER_HOST_ID, Exchange(CLUSTER_HOST_ID), routing_key=CLUSTER_HOST_ID),)

Thank you!

[2018-05-01 12:30] MrMEEE opened #18 "Migration is not always working :("
In the installation guide, I will now be maintaining a positive upgrade path list, until I find a workaround...

Inputs are welcome..

https://github.com/MrMEEE/awx-build/blob/master/installguide

[2018-05-01 12:31] MrMEEE commented on #17
Original issue is fixed (workaround, and fixed in 1.0.6.3).. the broken upgrades/migrations has been moved to #18 ...

[2018-05-01 12:31] #17 closed, assigned to MrMEEE

[2018-05-01 12:31] MrMEEE commented on #15
Have you had time to compare??

[2018-05-01 13:13] Lobout commented on #15
Been busy with work.  Will try and get to it sometime this week.

From:   Martin Juhl <notifications@github.com>
To:     MrMEEE/awx-build <awx-build@noreply.github.com>
Cc:     Lobout <wmedley@why-me.com>, Author <author@noreply.github.com>
Date:   05/01/2018 08:31 AM
Subject:        Re: [MrMEEE/awx-build] Missing requirements in latest
build (#15)

Have you had time to compare??
—
You are receivi

[2018-05-03 12:38] MrMEEE commented on #15
Hi

Just had the problem myself... it happens when you install ansible on the awx server..

If I roll back, so I remove ansible, it works :)

These are the packages I removed..

  ansible.noarch 0:2.4.2.0-2.el7         python-babel.noarch 0:0.9.6-8.el7         python-cffi.x86_64 0:1.6.0-5.el7        python-enum34.noarch 0:1.0.4-1.el7               python-httplib2.noarch 0:0.9.2-1.el7
  python-idna

[2018-05-03 15:48] Lobout commented on #15
Makes sense.  Just odd that it wouldn't install the dependencies though.

From:   Martin Juhl <notifications@github.com>
To:     MrMEEE/awx-build <awx-build@noreply.github.com>
Cc:     Lobout <wmedley@why-me.com>, Author <author@noreply.github.com>
Date:   05/03/2018 08:38 AM
Subject:        Re: [MrMEEE/awx-build] Missing requirements in latest
build (#15)

Hi
Just had the problem myself... it hap

[2018-05-12 10:46] tjyang opened #19 "ansible-tower-cli: pkg_resources.DistributionNotFound: colorama>=0.3.1"
@MrMEEE , Looks like ansible-tower-cli is missing  python-colorama pkg dependency.
[code]
* Fix is to install following
[code]

[2018-05-15 18:55] terryaclarke opened #20 "Configuring AWX"
Hi,

I want to configure the AWX to use a remote DB. Can you please help me. I need the name of the config file to change, so I can point the AWX to the remote DB.

[2018-05-16 08:30] MrMEEE commented on #20
Hi

Haven't tried it, but can't see why it shouldn't work..

The configuration is in /etc/awx/settings.py..

more specific:
[code]

[2018-05-22 09:05] shibinj commented on #18
I get following error when I run this command.  How to fix?  I followed those guidelines given in other issue, but seems not helpful to me.

`[root@awx01 ~]# sudo -u awx /opt/awx/bin/awx-manage migrate`

Traceback

 (most recent call last):
  File "/opt/awx/bin/awx-manage", line 11, in <module>
    sys.exit(manage())
  File "/opt/awx/embedded/lib/python2.7/site-packages/awx/__init__.py", line 93,

[2018-05-22 09:13] MrMEEE commented on #18
@shibinj Can you please move this to a new issue.. and specify from which version and to which version you are updating?

[2018-05-22 09:23] shibinj opened #21 "AWX v1.0.6.8 - Import Database data failed"
I have created a new CentOS 7.5 and followed the install guide instruction.

My AWX version is as shown below:

When I followed the section `import database data`, it failed with following error.

Since the instruction followed today, not sure what and where it went wrong.   A month ago, I followed same instruction on CentOS 7.4, it was perfect.

[2018-05-22 09:24] shibinj commented on #18
Ok .. moved it here [#21](https://github.com/MrMEEE/awx-build/issues/21)

[2018-05-22 09:30] MrMEEE commented on #21
Hi.. as far as I can see, the awx guys broke something with the latest update...

I'm trying to figure out what's wrong...

Try to go with version 1.0.6.7 instead..

[2018-05-22 09:35] MrMEEE commented on #21
Nope.. no f...-up.. they just changed things :)...

Just use version 1.0.6.8.. and comment out these two lines in /etc/awx/settings.py:

CELERY_ROUTES['awx.main.tasks.cluster_node_heartbeat'] = {'queue': CLUSTER_HOST_ID, 'routing_key': CLUSTER_HOST_ID}
CELERY_ROUTES['awx.main.tasks.purge_old_stdout_files'] = {'queue': CLUSTER_HOST_ID, 'routing_key': CLUSTER_HOST_ID}

Then it seems to work here :)

[2018-05-22 09:37] MrMEEE commented on #19
Thanks for the info...

This should be fixed now :)

[2018-05-22 09:37] #19 closed, assigned to MrMEEE

[2018-05-22 09:38] MrMEEE opened #22 "Make Ansible installable on an AWX Server"
Right now AWX breaks horrible if Ansible is installed on the same server (#15)

[2018-05-22 09:39] MrMEEE commented on #15
Root cause has been found.. closing this issue.... will look into it later

[2018-05-22 09:39] #15 closed, assigned to MrMEEE

[2018-05-24 04:24] shibinj commented on #21
That suggestion worked well.

[2018-05-24 04:26] shibinj commented on #21
Now I have new issue when `Initializing configuration`.

[2018-05-24 09:13] MrMEEE commented on #21
That error is normally caused by incorrect/unresolvable hostname...

Doublecheck the hostname...

[2018-05-24 09:27] shibinj commented on #21
Thank you.   I found hostname was missing in /etc/hosts file.  Now all looks good.  It's just that not listening to port 8050 - 8052 .. seems I need to dig on ngnix.

[2018-05-24 09:50] shibinj commented on #21
AWX tower is up now .. will close this thread now.

[2018-05-24 09:50] #21 closed, assigned to MrMEEE

[2018-05-24 11:08] MrMEEE commented on #21
Thanks for the feedback.. you will probably have problems running jobs...

Try these migration steps...

https://github.com/MrMEEE/awx-build/blob/master/migrations.md

[2018-06-02 18:34] ghost opened #25 "Unable to install awx"
-bash-4.2# ls -lrt  /etc/yum.repos.d/
total 44
-rw-r--r--. 1 root root 1012 Sep 20  2016 pgdg-96-centos.repo
-rw-r--r--. 1 root root 3830 Aug 30  2017 CentOS-Vault.repo
-rw-r--r--. 1 root root 1331 Aug 30  2017 CentOS-Sources.repo
-rw-r--r--. 1 root root  630 Aug 30  2017 CentOS-Media.repo
-rw-r--r--. 1 root root  314 Aug 30  2017 CentOS-fasttrack.repo
-rw-r--r--. 1 root root  649 Aug 30  2017 Cen

[2018-06-02 18:53] MrMEEE commented on #25
Have you remembered to run this command:

wget -O /etc/yum.repos.d/awx-rpm.repo https://copr.fedorainfracloud.org/coprs/mrmeee/awx-dev/repo/epel-7/mrmeee-awx-dev-epel-7.repo

[2018-06-02 18:56] ghost commented on #25
Sorry ... It is my bad ... I forget to run the above wget command. Thanks for your quick help and support.

[2018-06-02 19:04] ghost commented on #25
Another issue :

-bash-4.2# sudo -u awx /opt/awx/bin/awx-manage create_preload_data
Traceback (most recent call last):
  File "/opt/awx/bin/awx-manage", line 11, in <module>
    sys.exit(manage())
  File "/opt/awx/embedded/lib/python2.7/site-packages/awx/__init__.py", line 109, in manage
    execute_from_command_line(sys.argv)
  File "/opt/awx/embedded/lib64/python2.7/site-packages/django/core/man

[2018-06-02 22:11] ghost commented on #25
-bash-4.2# cat /etc/hosts
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.0.51 centos2
-bash-4.2# cat /etc/hostname
centos2
-bash-4.2# hostname -f
centos2
-bash-4.2#

[2018-06-02 22:19] ghost commented on #25
Now different issue
-bash-4.2# systemctl status nginx.service
● nginx.service - The nginx HTTP and reverse proxy server
   Loaded: loaded (/usr/lib/systemd/system/nginx.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Sat 2018-06-02 23:17:56 BST; 8s ago
  Process: 13455 ExecStartPre=/usr/sbin/nginx -t (code=exited, status=1/FAILURE)
  Process: 13453 ExecStartP

[2018-06-03 04:08] ghost commented on #25
All the components and packages are installed, started and verified.

-bash-4.2# systemctl status rabbitmq-server
● rabbitmq-server.service - RabbitMQ broker
   Loaded: loaded (/usr/lib/systemd/system/rabbitmq-server.service; enabled; vendor preset: disabled)
   Active: active (running) since Sun 2018-06-03 02:20:00 BST; 2h 46min ago
 Main PID: 1023 (beam.smp)
   Status: "Initialized"
   CGroup: /

[2018-06-04 08:09] MrMEEE opened #26 "Cluster/HA Install of AWX"
Moved from here:
https://github.com/subuk/awx-rpm/issues/11

[2018-06-04 08:12] MrMEEE commented on #25
RTFM: Disable SELinux and Firewall.. or make policies and rules

[2018-06-04 08:12] #25 closed, assigned to nobody

[2018-06-10 21:16] linuxmaya opened #27 "Playbooks not view in Job Template"
Hi:

    When create any project with git ( download OK ) or manual select folder the playbook  OK
    both when create job template in combo box playbook ( choose playbook ) it does not let me select anything
  Default path project is /var/lib/awx/projects
  Im try with Version is: 1.0.6.14 and 1.0.6.15 is same problem

  Can you help me please
  Any idea

[2018-06-11 02:21] #27 closed, assigned to nobody

[2018-06-11 02:23] linuxmaya commented on #27
Error  syntax with my file.yml

[2018-06-14 21:37] terryaclarke commented on #20
I tries this and it did not work.

DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'awxDB',
         'USER': os.getenv("awxDBsrv", None),
         'PASSWORD': os.getenv(awxDBsrv1234, None),
         'HOST': os.getenv(la2-dev-awx-101.abc.com, None),
         'PORT': os.getenv("5432", None),
    }
}

Here is the error

[2018-06-15 04:08] kocoten1992 opened #28 "PPA for debian/ubuntu ?"
Hi @MrMEEE , some of us still use ubuntu/debian for server, do we have plan for support these OS ?

[2018-06-15 10:22] MrMEEE commented on #28
Hi

I would have to redo the complete build environment.. Probably not anytime soon..

[2018-06-15 12:34] MrMEEE commented on #20
Try this instead:

DATABASES = {
'default': {
'ATOMIC_REQUESTS': True,
'ENGINE': 'django.db.backends.postgresql',
'NAME': 'awxDB',
'USER': 'awxDBsrv',
'PASSWORD': 'awxDBsrv1234',
'HOST': 'la2-dev-awx-101.abc.com',
'PORT': '5432',
}
}

[2018-06-15 16:27] rthill opened #29 "Add pip to default installation"
I am missing the pip command in the default installation on Centos 7. Would be nice to integrate the command in the RPM package to be able to load additional python modules such as pyvmomi.

Or do you consider other scripts like used in the inventory scripts should make use of another Python virtual environment?

[2018-06-15 20:43] terryaclarke commented on #20
This is the result. Does this look correct?

[root@la2-dev-awx-101 ~]# /opt/awx/bin/awx-manage migrate
Operations to perform:
  Apply all migrations: auth, conf, contenttypes, django_celery_results, main, sessions, sites, social_django, sso, taggit
Running migrations:
  Applying contenttypes.0001_initial... OK
  Applying contenttypes.0002_remove_content_type_name... OK
  Applying auth.0001_initial

[2018-06-15 20:44] terryaclarke commented on #20
I did not get this.

[root@awx ~]# echo "from django.contrib.auth.models import User; User.objects.create_superuser('admin', 'root@localhost', 'password')" | sudo -u awx /opt/awx/bin/awx-manage shell
[root@awx ~]# sudo -u awx /opt/awx/bin/awx-manage create_preload_data
Default organization added.
Demo Credential, Inventory, and Job Template added.
[root@awx ~]# sudo -u awx /opt/awx/bin/awx-manage

[2018-06-15 20:50] terryaclarke commented on #20
The web page comes up, but the admin and password don't work.

[2018-06-15 22:11] MrMEEE commented on #20
Can you please check the log file, when you try to login??

/var/log/awx/web.log
/var/log/nginx/error_log
/var/log/nginx/access_log
/var/log/messages

Setup look ok...

Maybe try to create a second user:
echo "from django.contrib.auth.models import User; User.objects.create_superuser('admin2', 'root@localhost', 'password')" | sudo -u awx /opt/awx/bin/awx-manage shell

[2018-06-15 22:14] MrMEEE commented on #29
Hi

I think I would rather keep addition scripts in their own environments to make sure that they don't interfere...

[2018-06-15 22:16] MrMEEE commented on #28
I have just done the build of the source/python virtual env on Ubuntu, and seems to work ok.. but then I need to do the packaging as well.. and of course testing, which will be the biggest part...

If you are interested in doing the testing and bugfixing related to the Ubuntu build, I might be able to setup some automatic builds for Ubuntu...

[2018-06-15 22:32] rthill commented on #29
Ok, perfect I'll create my own virtualenv to run my scripts.                                                                                                                                      Cheers,Raoul                                                                                                                                                                           From: notifications@git

[2018-06-15 23:17] terryaclarke commented on #20
Can you point me to a location I can read documentation concerning awx-manage shell. The help feature is not working. When I enter help to view the help pages, I get nothing back.

I entered echo "from django.contrib.auth.models import User; User.objects.create_superuser('admin2', at the command line and received
[root@la2-dev-awx-101 ~]# echo "from django.contrib.auth.models import User; User.obj

[2018-06-15 23:18] terryaclarke commented on #20
[access.log](https://github.com/MrMEEE/awx-build/files/2107690/access.log)

[2018-06-16 12:31] MrMEEE commented on #20
You need the complete line:
echo "from django.contrib.auth.models import User; User.objects.create_superuser('admin2','root@localhost', 'password')" | sudo -u awx /opt/awx/bin/awx-manage shell

[2018-06-16 12:32] MrMEEE commented on #20
I don't think that there is any more docs than this:

https://docs.ansible.com/ansible-tower/latest/html/administration/tower-manage.html

[2018-06-16 12:49] rthill commented on #20
You may also use simplified command:sudo -u awx awx-manage createsuperuserand follow the prompts.                                                                                                                                                                          From: notifications@github.comSent: June 16, 2018 2:31 PMTo: awx-build@noreply.github.comReply-to: reply@reply.github.comCc: subscrib

[2018-06-16 14:10] MrMEEE commented on #20
@rthill Thanks for the hint :)

[2018-06-17 22:03] kocoten1992 commented on #28
Could I ask how was the experience using awx ? I'm quite worry because they required an enormous resources to run.
[code]
I imaging running it on some cheap vps , 512MB memory, 0.5 core, 5 GB of space
Does your experience good, the software worth it ? :worried:

P/s: my use case is to manage my home labs ~9 machines, but even so, if the stack only a binary file and a database, I think it will be m

[2018-06-18 07:46] MrMEEE commented on #28
Hi..

I don't think that AWX requires enormous resources.. but, I don't think you'll get it running smoothly without at least 4GB ram.. The space and core requirements of course depends on your usage...

[2018-06-19 17:02] terryaclarke commented on #20
Thanks, I was able to login to the awx. I am having another issue. Extremely slow performance when using AWX with external Postgres instance. Any thoughts? When I try to save a change, it display's the working message and then it does not save the changes.

[2018-06-19 18:02] MrMEEE commented on #20
hmmm.. weird.. any errors in the logs?..

I might try to do a test setup, with a external postgresql..

[2018-06-20 11:27] MrMEEE commented on #20
@terryaclarke I now have a test setup here, with two VMs, one running the Postgres and the other one running the rest..

And it's working great... so the good news is that it's working... the bad news is that we have to figure out what's wrong with your setup...

Found any errors in the logs??

[2018-06-20 11:29] rthill commented on #20
@terryaclarke, can you also post the specs of your VMs please.                                                                                                                                                                                                                                                                                                                From: notifications@github.comSent

[2018-06-20 23:26] terryaclarke commented on #20
Is the awx-manage migrate suppose to create the DB during the installation. I am wondering if the DB is setup wrong.

[2018-06-21 05:21] rthill commented on #20
Yrs, the migrate command setups the database schema an requires the database and database user exists. As the createsuperuser command did work, I suppose your database is correctly setup.

[2018-06-27 09:26] #29 closed, assigned to MrMEEE

[2018-06-27 09:26] MrMEEE commented on #28
Can I close this?

[2018-06-27 14:35] kocoten1992 commented on #28
sure, thank you :smile:

[2018-06-27 14:35] #28 closed, assigned to MrMEEE

[2018-06-29 13:43] rthill opened #30 "Release changelog"
Hi,

with each new RPM package the changelog only contains the information `New Git version build: 1.0.x.y`. How can I find the real information e.g: current revision from AWX repository when the RPM package is built or link to the original changelog?

Thanks

[2018-06-29 19:51] MrMEEE commented on #30
This is actually something that I have wanted todo myself... but haven't gotten around to it..

I'm just pulling the code from the upstream repo and building it..

[2018-07-02 13:12] rthill commented on #30
To get the current commit hash of HEAD, you can run the command: `git rev-parse --short HEAD` or without the short if you like the long version of the commit hash. With this information the different release are at least a bit trackable.

[2018-07-14 10:14] tjyang opened #31 "Popup window from "About" not updated with newer version number"
* upgrade to 1.0.6.28 from 1.0.6.26
[code]
* Popup window from "About" not updated with newer version number
![image](https://user-images.githubusercontent.com/378638/42723523-b8efdb54-8724-11e8-9156-439aa30f8458.png)

* version info from tower-cli

[code]

[2018-07-14 22:13] MrMEEE commented on #31
hmmm... not seeing that here.. have you restarted the services after ??

systemctl restart awx-celery-worker awx-cbreceiver awx-celery-beat awx-channels-worker awx-daphne awx-web

[root@akiva ~]# tower-cli version
Tower CLI 3.3.0
API v2
AWX 1.0.6.28
Ansible 2.5.0

![awx28](https://user-images.githubusercontent.com/768031/42728804-d7e52b32-87c3-11e8-8f54-3cf647e96dfe.png)

[2018-07-14 23:59] tjyang commented on #31
My bad, I didn't restart awx services.

[code]

[2018-07-14 23:59] #31 closed, assigned to nobody

[2018-07-18 02:03] sglepage commented on #12
@MrMEEE Just confirming that

https://github.com/ansible/awx/blob/732698440f5278f085d28dd3870fad24b92d7736/requirements/requirements.in

and

https://github.com/ansible/awx/blob/732698440f5278f085d28dd3870fad24b92d7736/requirements/requirements_ansible.in

Are the python dependencies you were referring to?

[2018-07-18 09:12] MrMEEE commented on #12
I'm actually using:

cat requirements/requirements_ansible.txt requirements/requirements_ansible_git.txt | \
    _buildenv/bin/pip install --no-binary cffi,pycparser,psycopg2,twilio --prefix=`pwd`/embedded/ -r /dev/stdin
cat requirements/requirements.txt requirements/requirements_git.txt | \
_buildenv/bin/pip install --no-binary cffi,pycparser,psycopg2,twilio --prefix=`pwd`/embedded/ -r /dev/stdin

[2018-07-18 15:38] roostercactus opened #32 "create_preload_data fails with No instance found with the current cluster host id"
New install on OEL7.5 (RHEL clone) following the latest install guide doc.

Everything works fine until the 'sudo -u awx /opt/awx/bin/awx-manage create_preload_data' step.  I get this:
[code]

If I run the same command again it completes fine.  Just curious why it fails and then runs okay the second time.

Should I worry about it failing the first time?  As long as it completes the second time it'

[2018-07-18 16:13] roostercactus commented on #32
Now I'm not sure it really runs the second time.  A closed issue shows the output when they ran the command and it looks like this:

sudo -u awx /opt/awx/bin/awx-manage create_preload_data
Default organization added.
Demo Credential, Inventory, and Job Template added.

I don't see the output shown above the second time I run it.  It just completes without printing anything.  It runs without error

[2018-07-18 17:29] MrMEEE commented on #32
Hi

First of all, I have not tested this at all on Oracle Linux, but I know previous projects that stuff that work on RHEL and CentOS, doesn't always work on OEL, even though they originates from the same source..

That being said, I can't see why this part in particular shouldn't work.. This basically only adds the template/example data, and is not neccesary at all for AWX to work..

Do you get t

[2018-07-20 19:47] roostercactus commented on #32
Hi, yes the demo data is there...inventory, cred, project.  So it seems to set that up even thought you have to run the command twice and no output on the second run.

[2018-07-23 12:53] MrMEEE commented on #32
Weird.. might test it at some point..

But everything else seems to work??

[2018-07-30 16:04] roostercactus commented on #32
Sorry I haven't had a lot of time to test it after the install completes.  I was interested in using this non-docker method of installing AWX after some docker issues with the latest official install.  I ended up figuring out how to use an older version of AWX which seems to have fixed the docker issues.  Anyway, for now I will just close this.  I really do like the idea of not having to rely on d

[2018-07-30 16:04] #32 closed, assigned to MrMEEE

[2018-08-09 07:09] Aglidic commented on #26
hello, we have a successfull HA deployement thanks to your rpm.

Here is what we have done:
rabbitmq clustering
disable celery-beat service
modify the celery-worker execstart command

we have made a lot of test on it and everything seems fine

[2018-08-09 09:21] Aglidic opened #33 "inventory import failed"
Hello i can't import inventory from UI. But it works when i use the awx-amange command (same parameter as the IU).

I think the issue is comming from the embedded python module

[2018-08-09 09:53] flynn1973 opened #34 "rpmbuild: ImportError: cannot import name requests"
while trying to do a local build with your latest source rpm the follwing comes up. any hint what might
be the problem here?

[code]

[2018-08-09 10:19] flynn1973 commented on #34
fixed by removing the "pip-10.0.1-py2.py3-none-any.whl" wheel. not sure whats up with this. can be closed as "local problem".

[2018-08-09 10:19] #34 closed, assigned to nobody

[2018-08-09 10:45] Aglidic commented on #33
to be more precise.
create a new credentials for rhevm
create a new inventory and create a new source for rhevm based on the rhevm credentials.
run sync through webui or tower-cli and i got this error:

HTTP 200 OK
Allow: GET, HEAD, OPTIONS
Content-Type: text/plain ;utf-8
Vary: Accept
X-API-Node: rh754stdc0c.ceti.etat-ge.ch
X-API-Time: 0.065s

    1.485 INFO     Updating inventory 3: inventory.DEV

[2018-08-09 11:42] Aglidic commented on #33
so based on the list you furnished here:
https://github.com/MrMEEE/awx-build/issues/15

i have remove all "unnecesary" python module.
Now if i try to sync again i have the error:
ovirt: inventory script require ovirt-engine-sdk-python >= 4.0.0

but this module should be in the embedded no?

[2018-08-09 12:34] MrMEEE commented on #33
Hi..

I'm installing the dependencies from the upstream awx project, so maybe the module is missing there?...

Have you tried installing the module manually?

[2018-08-09 12:51] Aglidic commented on #33
module are in the embedded directory.

it's really weird

[2018-08-09 13:25] Aglidic commented on #33
to install the module you mean pip install --target /opt/awx/embedded ?

[2018-08-10 09:32] Aglidic commented on #33
ok i finally success with that. I don't know why but it doesn't take the module on embedded.

So i have create a virtualenv in /var/lib/awx/venv/awx and install module in there.

Don't forgot to change the user

[2018-08-10 10:33] MrMEEE commented on #33
Hmmm.. Haven't tested the ovirt connection stuff..

Will see if I can get the time to do it...

[2018-08-10 10:34] MrMEEE commented on #26
That is great to hear... thanks for your feedback..

If you have a more detailed installation description, I would love to add it to the documentation..

[2018-08-13 05:45] Aglidic commented on #26
ok so here is the process:
install db on an external server with your install guide.
install 1st awx server with your install guide (connect it to the db)
install 2&3 awx server with your install guide (connect them to the DB and don't make those commands:
echo "from django.contrib.auth.models import User; User.objects.create_superuser('admin', 'root@localhost', 'password')" | sudo -u awx /opt/awx

[2018-08-13 05:47] Aglidic commented on #26
i forgot but of course final step go to the web interface and create the instance with all 3 nodes

[2018-08-13 06:09] Aglidic commented on #22
when you run a job and check is status through the api we can saw that you have added a pythonpath on embeded awx with the module. But if you check you can yalso see that it's looking to a virtual env python in /var/lib/awx.

When you check a "tower" install all python modules are directly install in this virtualenv.

create a venv awx and put all necessary python modules there
create a venv ansib

[2018-08-20 07:31] Aglidic opened #35 "upgrade to 1.0.7.3"
Hello i try to upgrade to last version but it doesn't work.

yum upgrade
sudo -u awx /opt/awx/bin/awx-manage makemigrations --merge -v3
No conflicts detected to merge.
sudo -u awx /opt/awx/bin/awx-manage migrate -v3
Operations to perform:
  Apply all migrations: auth, conf, contenttypes, djcelery, main, oauth2_provider, sessions, sites, social_django, sso, taggit
Running pre-migrate handlers for a

[2018-08-20 07:36] Aglidic commented on #35
this error was before modifying the files:
/opt/awx/embedded/lib/python2.7/site-packages/awx/main/migrations/0043_v330_oauth2accesstoken_modified.py

After modifying it i now have this:
[root@gvaawxapp01t a_anglidic@GVA.ICRC.Priv]# sudo -u awx /opt/awx/bin/awx-manage migrate -v3
Operations to perform:
  Apply all migrations: auth, conf, contenttypes, djcelery, main, oauth2_provider, sessions, site

[2018-08-20 07:56] Aglidic commented on #35
my bad after reverting to snapshot and relaunch the process from migrations.md it works

[2018-08-20 08:17] Aglidic commented on #35
Aug 20 10:15:01 gvaawxapp01t systemd[1]: Started Flexible Branding Service.
Aug 20 10:15:01 gvaawxapp01t polkitd[814]: Unregistered Authentication Agent for unix-process:2294:97119 (system bus name :1.32, object path /org/freedesktop/PolicyKit1/AuthenticationAgent, locale en_US.UTF-
Aug 20 10:15:01 gvaawxapp01t systemd[1]: Starting Flexible Branding Service...
Aug 20 10:15:01 gvaawxapp01t a_anglid

[2018-08-20 08:40] MrMEEE commented on #35
Hi..

I had that issue as well, thought it was something with my installation..

Workaround:

Change %(ENV_HOSTNAME)s  to your hostname in the Service file..

I'll be looking into this

[2018-08-20 09:03] Aglidic commented on #35
ok i finally made it work.
I don't know why but it's like the celery can't understand the %(ENV_HOSTNAME)s anymore.
i had to write -n gvaawxapp01t to make it work

[2018-08-20 09:04] Aglidic commented on #35
thanks for the tips.
It seems we arrived at the same conclusion

[2018-08-20 09:18] powertim opened #36 "Missing symlink for requirements.yaml"
Hi,

I used Ansible Galaxy to create my playbook tree for the role I use requirements.yaml and I found an issue affecting the command.
We need to add the symlink : /opt/awx/bin/ansible-galaxy -> /opt/awx/bin/ansible-galaxy/ansible.
Thanks for updating the package.

Best regards,

Tim.

[2018-08-20 10:25] Aglidic commented on #35
i saw another error but on daphne.

it tolds me that some python modules are missing (http2 and tls)

[2018-08-20 11:07] Aglidic commented on #35
ok so i rollback for the moment. I don't know if it's coming from my HA conf or not. But no job was running anymore.

have to debug that

[2018-08-21 06:12] Aglidic commented on #35
here is the last error:
ERROR    awx.main.consumers access denied to channel, XRF mismatch for admin

[2018-08-21 09:10] MrMEEE commented on #36
Thanks...

I have made the change to the build spec.. Should be included in the next build...

[2018-08-21 10:19] Aglidic commented on #35
hum it seems that it's due to the cluster config. here i found something on the db:
ERROR:  column main_instance.managed_by_policy does not exist at character 297
STATEMENT:  SELECT "main_instance"."id", "main_instance"."uuid", "main_instance"."hostname", "main_instance"."created", "main_instance"."modified", "main_instance"."last_isolated_check", "main_instance"."version", "main_instance"."capaci

[2018-08-21 10:31] MrMEEE commented on #35
Guess that's also part of the stuff that can't be upgraded.. and needs a workaround.. just like:
https://github.com/ansible/awx/issues/2173

[2018-08-21 10:58] Aglidic commented on #35
hum ok so if i understand well. We can't upgrade between "major" version. The only way is to deploy a new stack and make an export/import (which means loosing data)...

This awx project is really weird for an upstream project...

it would be nice to have other case for this upgrade path

[2018-08-21 11:04] MrMEEE commented on #35
Well.. that is basically what the upstream awx are saying.. and also that they don't wanna support a RPM build..

[2018-08-21 11:12] MrMEEE commented on #35
It seems like the column is there on my installation... could you try:

su - postgres
psql
\c awx
select "main_instance"."managed_by_policy" from main_instance;

I get:
[code]

[2018-08-21 11:14] MrMEEE commented on #35
awx/main/migrations/0045_v330_instance_managed_by_policy.py should create the column...

[2018-08-21 11:17] Aglidic commented on #35
hum ok. just to be sure.
you upgrade rpm
you do a awx-manage makemigrations --merge
you insert the null=True to the file
and you do awx-manage migrate

that's it right?

[2018-08-21 11:19] MrMEEE commented on #35
basically yes.. but actually the time did it, I did:

upgrade rpm
awx-manage makemigrations (failed)
awx-manage makemigrations --merge
awx-manage migrate (failed
insert the null=True to the file
awx-manage migrate

Should be the same...

[2018-08-21 11:32] Aglidic commented on #35
ok i have rollback an rerun upgrade path and yes the main_instance is here

[2018-08-21 11:36] Aglidic commented on #35
new error:
ERROR    awx.main.consumers Request user is not authenticated to use websocket.

[2018-08-21 11:58] Aglidic commented on #35
so new test.  This time everything seems fine.
All services on all node are green
[root@gvaawxapp01t a_anglidic@GVA.ICRC.Priv]# systemctl status awx-*
● awx-celery-worker.service - AWX Celery worker service
   Loaded: loaded (/usr/lib/systemd/system/awx-celery-worker.service; enabled; vendor preset: disabled)
   Active: active (running) since Tue 2018-08-21 13:51:45 CEST; 5min ago
 Main PID: 1107

[2018-08-21 12:25] MrMEEE commented on #35
systemctl status rabbitmq-server ?

[2018-08-21 12:29] Aglidic commented on #35
was fine also.
and rabbitmqctl cluster_status too.

For what i saw the issue was somewhere at daphne level. Like daphne never answer properly

i try a telnet and it was litstening.

[2018-08-21 12:32] MrMEEE commented on #35
hmmm...

Mine looks the same, but works... have you tried increasing verbosity??

[code]

[2018-08-21 12:45] Aglidic commented on #35
yes with verbosity = 2
if i launch a job
here is the result of journalctl -f in version 1.0.7:
Aug 21 14:17:37 gvaawxapp02t daphne[3535]: 2018-08-21 12:17:37,473 DEBUG    WebSocket daphne.response.fFfkUJvMQZ!GsuGLNKtwc open and established
Aug 21 14:17:37 gvaawxapp02t daphne[3535]: 2018-08-21 12:17:37,473 DEBUG    WebSocket daphne.response.fFfkUJvMQZ!GsuGLNKtwc accepted by application
Aug 21 14:17

[2018-08-21 12:48] Aglidic commented on #35
so for me daphne doesn't send the message or celery never receive it.

i don't know which one is the issue. That can also ne celery with the weird change of (ENV_HOSTNAME)s

[2018-08-21 12:49] anlag opened #37 "awx-channels-worker dies after AWX 1.0.7.3 upgrade"
I upgraded quite a few leaps today, from 1.0.6.1 to 1.0.7.3. Started with a "yum upgrade" and then had to apply a number of fixes from the migrations page, not necessarily in the intended order, but I thought I had got it working... when I realized I can't interact with the Satellite inventory (for example I can't create groups, or pull the latest SCM version; all of which throw errors like:

[cod

[2018-08-21 12:51] MrMEEE commented on #37
Hi Anders

Have you followed the instructions here:

https://github.com/MrMEEE/awx-build/blob/master/migrations.md

??

[2018-08-21 12:57] MrMEEE commented on #35
I think I have fixed the celery hostname issue.. try using this:
[code]

Probably won't fix the other issue

[2018-08-21 12:59] anlag commented on #37
Yes, though not quite in order, I only noticed the CELERY_ROUTES change somewhat later. And the database change one-liner didn't work for me, but I was able to perform the changes in psql (entering via scl.)

I tried going over it again just now to be sure everything was done, and get this:

[code]

I didn't see that earlier, but it seems to suggesting running makemigrations without --merge? Gave

[2018-08-21 13:01] Aglidic commented on #35
hum i was thinking i have a big difference with you.

I have disable celery beat maybe it's mandatory now.

I can't do test before 10 september but i will try again with celery-beat

[2018-08-21 13:01] MrMEEE commented on #37
hmmm :)..

what happens if you run makemigrations with --merge?

[2018-08-21 13:02] MrMEEE commented on #35
ok.. let me hear how it goes

[2018-08-21 13:04] anlag commented on #37
Same as above, it was maybe hidden in the paste...

[code]

[2018-08-21 13:06] MrMEEE commented on #37
I would try with option number 1.. :)

[2018-08-21 13:07] MrMEEE commented on #37
Or arrange a visit from you friendly neighborhood Linux guy :)

[2018-08-21 13:07] anlag commented on #37
What do I give as the default?

[code]

[2018-08-21 13:08] MrMEEE commented on #37
timezone.now
will probably do?

[2018-08-21 13:09] Aglidic commented on #37
hum during my multiple test i saw this.

If i remember it's because you run the makemigrations after inserting the null=True in the file

i think i have go with the option 1 too

[2018-08-21 13:15] anlag commented on #37
That seemed to have resolved the _awx-channels-worker_ issue, after restarting services it ran fine for a while...

[code]

[2018-08-21 13:16] MrMEEE commented on #37
And then stopped?

[2018-08-21 13:16] anlag commented on #37
[code]

Think I'm getting close to calling my friendly Linux guy...

[2018-08-21 13:17] MrMEEE commented on #37
check if rabbitmq is running :p

[2018-08-21 13:26] anlag commented on #37
There we go! _rabbitmq-server_ wasn't enabled in systemd and I hadn't thought to check it. With that started (and enabled!) all services restart without errors and the web page displays "AWX is upgrading."

[2018-08-21 13:36] MrMEEE commented on #37
wuhuu..

[2018-08-21 14:28] powertim commented on #36
Thanks to you !

[2018-08-21 14:30] powertim commented on #37
@anlag could you confirm that you successfully upgraded from 1.0.6.X to 1.0.7.X ?
If possible could you share your final steps to achieve it ?

Thanks.

[2018-08-21 14:53] anlag commented on #37
I'm not actually sure, my AWX still says it's upgrading after an hour and a half. I'll check back tomorrow, but the short version of what I did was "yum upgrade" from the repo, apply the fixes in

https://github.com/MrMEEE/awx-build/blob/master/migrations.md

and lastly make sure rabbitmq-server is running.

[2018-08-21 14:58] powertim commented on #37
Ok thanks for your feedback.
One hour and a half seems bad... Hope I'm wrong !
We need to figure out on the cluster version with @Aglidic...

[2018-08-21 21:40] MrMEEE commented on #37
It shouldn't have the upgrading screen when we have done the manual update with migrate/makemigrations..

Have you tried restarting the services..??

[2018-08-22 11:01] anlag commented on #37
I had restarted the services. Today I've done so again and then rebooted the server, unfortunately I still get the upgrading screen when I try to access the web UI. Looking at the services, I can see awx-daphne now produces an error:

[code]

Everything else seems to run okay.

[2018-08-22 11:21] MrMEEE commented on #37
Again, doublecheck that the rabbitmq is running....

[2018-08-22 13:42] anlag commented on #37
rabbitmq was running and awx-daphne didn't show that error again after I restarted only that. But as my friendly neighbourhood Linux guy concluded upon closer inspection, I hadn't run "awx-manage migrate" again after setting that new default with "awx-manage makemigrations" as detailed earlier in the thread. Executing "awx-manage migrate" now resolved the issue and the server seems to be running f

[2018-08-22 16:17] powertim commented on #35
Hi,

I've tested the upgrade with the HA setup (sorry @Aglidic i couldn't wait your return ^^) and I had the same strange behavior with all jobs in pending state.
Then, I changed the /etc/systemd/system/multi-user.target.wants/awx-celery-worker.service file to modify ExecStart with
`ExecStart=/opt/awx/bin/celery worker -A awx -B -l info --autoscale=50,4 -Ofair -s /var/lib/awx/beat.db -n celery@%H`

[2018-08-22 16:23] Aglidic commented on #35
we disable beat in version 1.0.6 because it's not clustered.

Maybe the best way this time is to deploy an awx in HA with container and doing reverse engineering on them to see the commands.

Or just study the container build

[2018-08-22 16:31] powertim commented on #35
I suppose that new/additional queues need to be added to the - Q parameter of the awx-celery-worker to recover a functional HA setup.
But reverse engineering from K8s looks like a good idea.

[2018-08-22 16:42] Aglidic commented on #35
if beat is mandatory now. We have to create a beat cluster based on consul lock

if that's the case will be a lot of fun...

[2018-08-22 16:50] Aglidic commented on #35
i found this: celery worker -A awx -l DEBUG -B -Ofair --autoscale=100,4 --schedule=$(CELERY_SCHEDULE_FILE) -Q tower_scheduler,tower_broadcast_all,$(COMPOSE_HOST),$(AWX_GROUP_QUEUES) -n celery@$(COMPOSE_HOST)

https://github.com/ansible/awx/commit/8faf5887754addeb4940f73a6e02a380f7623541

if i compare to what we didi we are missing some stuff :+1:
AWX_GROUP_QUEUS,tower_broadcast_all

but we will ne

[2018-08-23 15:07] powertim commented on #35
OK so finally everything works as before the upgrade.
The issue about the playbook was due to a change that I was not aware of, so don't mind ^^
Here is the configuration that is working as expected:

`ExecStart=/opt/awx/bin/celery worker -A awx -l debug --autoscale=50,4 -Ofair -n celery@%H`

So simple :-)
Beat is still not necessary for the HA setup or we are missing something that we don't see..

[2018-08-23 17:22] Aglidic commented on #35
does it works now?

If yes can you try this:
ExecStart=/opt/awx/bin/celery worker -A awx -l debug --autoscale=50,4 -Ofair -Q tower_scheduler,tower_broadcast_all,%H -n celery@%H

or this:
ExecStart=/opt/awx/bin/celery worker -A awx -l debug --autoscale=50,4 -Ofair -Q tower_scheduler,%H -n celery@%H

In that case the only thing is to replace ENV_HOSTNAME with just H

[2018-08-24 08:49] powertim commented on #35
Yes as I said it works now :-)
Tested with 30 deployments in parallel, 100% success.

No it doesn't work with those arguments.

But I don't care cause everything's fine now :-D

**So to conclude, update to 1.0.7.3 complete, no data loss, no need to export and import data, all steps of
https://github.com/MrMEEE/awx-build/blob/master/migrations.md followed with success.**

[2018-08-25 09:32] ghost opened #38 "Build rpm for a specific version of awx"
Hi, thank you for your great work, I don't like container so for me RPM is the best alternative.
Have you a script for build source tar.gz?
I see in fedorainfracloud there is a rpms with awx-<VERSION>.tar.gz for build rpm from spec file, there are some differences between git clone of awx and this tar.gz and I would like make alone the tar.gz for test old version of awx.
Thank you

[2018-08-25 09:43] ghost opened #39 "Upgrade ansible version"
Hi, I understand we can't use external ansible, but only ansible in rpm file.
Why continue to use old ansible's version? In spec file I see ansible 2.5.0 while now we have 2.6.3.
I tried to build my rpm with ansible 2.6.3 and work without issues.
Is there a possibility to have a rpm with new version of ansible or use an external ansible, maybe as dependency of rpm?
Thank you

[2018-08-25 23:37] tjyang commented on #35
@powertim
Thanks to you guys' effort on this thread.

I followed https://github.com/MrMEEE/awx-build/blob/master/migrations.md and able to upgrade from 1.0.6.47. to [1.0.7.3](https://user-images.githubusercontent.com/378638/44623503-d6139080-a895-11e8-8507-8f4e08116549.png)

[2018-08-26 11:56] tjyang opened #40 "Timeout on https://copr-be.cloud.fedoraproject.org"
* Anyone has same issue like following ?
[code]
* References
  * 3 hours ago: https://pagure.io/fedora-infrastructure/issue/7189
  * 3 years ago: https://pagure.io/fedora-infrastructure/issue/4661

[2018-08-27 08:37] pontostroy opened #41 "Job does not start (after migrate from 1.0.6.47 > 1.0.7.3)"
Migration was successful, celery-worker fixed.

But now after selecting a template, setting limits, and after pressing the next button nothing happens, the job window does not disappear.

Project and inventory updates, ad-hoc commands are successful.

[2018-08-27 17:01] MrMEEE commented on #41
try to check if rabbitmq-server is running?

Any errors in the logs?

[2018-08-27 17:01] MrMEEE commented on #40
Is this still an issue?

[2018-08-27 17:05] MrMEEE commented on #39
Pushed Ansible to 2.6.3 for the next build..

It's possible to run with external versions of ansible from within AWX.. (Ansible Environments)

[2018-08-27 17:06] MrMEEE commented on #38
What differences do you see??

It should just be a tar-ball from the git repo

[2018-08-27 17:18] tjyang commented on #40
According to update at https://pagure.io/fedora-infrastructure/issue/7189 , port 443 is now answering query.

[2018-08-27 17:18] #40 closed, assigned to MrMEEE

[2018-08-28 07:06] MrMEEE commented on #36
Hi

/opt/awx/bin/ansible-galaxy/ansible isn't present on my system? did you add this yourself?

[2018-08-28 13:41] flynn1973 opened #42 "1.0.7.3 clean install: sqlite3.InterfaceError: Error binding parameter 0 - probably unsupported type."
got this error on a clean (not upgrade) install.

[code]

[2018-08-28 14:38] flynn1973 opened #43 "1.0.7.3 clean install: ImportError: No module named rest_framework_swagger"
something seems to be missing in the embedded python stuff.
pip install  django-rest-swagger fixed it but i'm not shure if this is the right way to do.

[code]

[2018-08-29 06:45] pontostroy commented on #41
rabbitmq-server is running and updated.
I can not find anything that would help me to find an error, fresh install with  tower recieve\send works fine.

[2018-08-29 08:48] flynn1973 commented on #42
works with 1.0.7.4, so i will close this issue.

[2018-08-29 08:48] #42 closed, assigned to nobody

[2018-08-29 08:49] flynn1973 commented on #43
works with 1.0.7.4, so i will close this issue.

[2018-08-29 08:49] #43 closed, assigned to nobody

[2018-08-29 08:51] flynn1973 opened #44 "1.0.7.4: job status urls not working / empty page"
job status urls (e.g: http://towerhost.some.domain/#/jobs/playbook/13) just showing blank/white page.
rabbitmq and all other services are running.

[2018-08-29 10:15] pontostroy commented on #41
Shift + Ctrl + R (refresh without cache) on chrome solved the problem.

[2018-08-29 10:15] #41 closed, assigned to MrMEEE

[2018-08-29 10:41] MrMEEE commented on #41
Cool.. thanks for the feedback

[2018-08-29 10:42] MrMEEE commented on #44
Have you tried force-refreshing (ctrl+alt+r/f5)?

[2018-08-29 12:45] flynn1973 commented on #44
hmm...was indeed a browser problem (outdated firefox). works with latest.

[2018-08-29 12:45] #44 closed, assigned to nobody

[2018-08-29 18:58] ghost commented on #38
Sorry my late reply.
These are the differences.

[code]
Somes .mo are missing, I think there is a command for make it.
Some doc files is missing is ok.
Some file from git is ok.
Directories static and templates are copied/moved in awx-1.0.7.4/awx/ui from awx.

So I thought there will be a script for these changes?

[2018-08-29 20:26] ghost commented on #39
Sorry for my newbie question. Where I can change this setting?

[2018-09-05 08:55] rthill commented on #9
To prevent logo overwrites just override the logo in you Nginx configuration like the following:

        location /favicon.ico {
            alias /opt/custom/media/favicon.ico;
        }

        location /static/assets/favicon.ico {
            alias /opt/custom/media/favicon.ico;
        }

        location /static/assets/logo-header.svg {
            alias /opt/custom/media/icon_large.svg;

[2018-09-05 09:03] rthill commented on #14
You can backup your database content using the dumpdata functionality integrated in the Django manage command. In case of AWX you may run `awx-manage dumpdata -o /tmp/dump.json` to dump the data. JSON is the default format, but you can also switch to YAML, which I prefer for readability reasons.

For more options check the Django documentation:
https://docs.djangoproject.com/en/2.1/ref/django-admi

[2018-09-06 21:38] MrMEEE commented on #39
Good question.. maybe the feature is only in Ansible Tower?.. can't remember where I have seen it..

[2018-09-11 05:32] Aglidic opened #45 "rhev python module not found"
Hello i still have some issue with the rhev python module.

Last time to make the inventory sync to work i had to create a python venv in /var/lib/awx (like in tower) and for the sync it works.

But now when i try to use the rhev module in playbook it doesn't work.

For what i understand in your rpm package you are copying python module in /opt/awx/embedded right.

But in the bin folder i can't se

[2018-09-11 06:28] Aglidic commented on #45
hum nevermind it seems that it's possible to set custom environement per job template now.
i will try to do that

[2018-09-21 17:21] tjyang commented on #9
@rthill , thanks for tip, following is my note.
* Grab logo and icon files from https://github.com/ansible/awx-logos/tree/master/awx/ui/client/assets.
   * and put them into /opt/awx/static/assets/awx/, create awx dir under assets.
*  /etc/nginx/nginx.conf

[code]
* "system restart nginx" to restart

[2018-09-26 17:57] tjyang opened #46 "1.0.7.4 to 1.0.8.14 upgrade note"
Hi

Just an FYI, I was able do the upgrade using following commands.
"--merge" was added for this time per error message suggested.

[code]

[2018-09-26 18:11] MrMEEE commented on #46
Hi

Thanks for the update..

I actually upgraded earlier today, but didn't get around to petting it into the dokumentation.. But nice to get feedback :) thanks...

[2018-09-26 18:11] #46 closed, assigned to nobody

[2018-09-28 08:43] powertim commented on #36
Hi,
Sorry for the HUGE delay...
It was installed with the ansible RPM.
Only did a `sudo yum install ansible` on RHEL7.

[2018-10-01 07:14] MrMEEE commented on #36
Hi

Can you please do a:

rpm -aq ansible
and
rpm -ql ansible

Thanks

[2018-10-01 07:14] #37 closed, assigned to MrMEEE

[2018-10-01 07:16] MrMEEE commented on #38
sorry.. my mistake..

#!/bin/bash
yum install -y epel-release
yum install -y https://centos7.iuscommunity.org/ius-release.rpm
yum install -y bzip2 gcc-c++ git2u gettext make python-pip
curl --silent --location https://rpm.nodesource.com/setup_6.x | bash -
yum install -y nodejs
cd /awx/
make clean
make sdist

[2018-10-01 07:17] MrMEEE commented on #45
Did you get it to work?

[2018-10-01 07:17] Aglidic commented on #45
so at the end what we have done is to follow the install of the tower version.

It means we have created 2 venv in /var/lib/awx/venv.

One called awx and the second one called ansible. We install necessary module on the awx venv and we reinstall ansible in the ansible venv plus necessary module.

After that everything is working fine.

Since 1.7 you can also use custom venv if you want specific mo

[2018-10-01 07:18] #39 closed, assigned to MrMEEE

[2018-10-01 07:18] Aglidic commented on #45
So yes everything is working fine.

Just have to play a little with python venv

[2018-10-01 07:19] MrMEEE commented on #45
Great.. Thanks for the update :)

[2018-10-01 07:19] #45 closed, assigned to nobody

[2018-10-01 07:20] #35 closed, assigned to MrMEEE

[2018-10-11 09:39] MrMEEE commented on #38
Can I close this case?

[2018-10-17 08:49] Neurozone opened #47 "About space requirements"
Hello.
I've a question about the fs and space needed by the installation.

Which are the directories needed by the installation of awx ? (Because we have some predefined partitions on lvm) and what is the size needed for the deployement ?

I haven't seen anything related on your documentation about this.

Florianne

[2018-10-17 08:57] mjcasalogic commented on #47
Hi..

AWX is primarily resident in /opt/awx, where it takes up around 500MB...

It's works is done in tmp and /var/lib/awx.. but shouldn't take up much space...

I would say that a server with 10GB of space should be more than enough to start with.. Of course this depends on your playbooks..

Martin

[2018-10-17 08:57] MrMEEE commented on #47
Hi..

AWX is primarily resident in /opt/awx, where it takes up around 500MB...

It's works is done in tmp and /var/lib/awx.. but shouldn't take up much space...

I would say that a server with 10GB of space should be more than enough to start with.. Of course this depends on your playbooks..

Martin

[2018-10-17 09:02] Neurozone commented on #47
Thank you for the answer, and this brings me to the next issue:
Can we relocate the installation on another fs/partition like /var/product ?

And where is located the database ?
Sorry for all theses questions but it's "enterprise policy", you know...
Florianne

[2018-10-17 09:07] MrMEEE commented on #47
No problem..

Database is located in /var/lib/pgsql if you are using CentOS and following the guide.. it's under /opt/rh/ if you are using software collections or the RHEL installations guide..

AWX is packaged in a RPM, so you shouldn't move the installation (could be done, but you won't be able to update, and there will be alot of issues to fix).. you can mount in a file system in /opt or /opt/a

[2018-10-17 09:09] Neurozone commented on #47
Budget costs ? ^^

Thank you for you replies.
At least we will give a try to your installation :)

Florianne

[2018-10-17 09:11] MrMEEE commented on #47
Well, if money is an issue, then go ahead :)..

Let me hear how it goes..

[2018-10-17 09:42] powertim commented on #47
Hi Florianne,

Same issue with budget !
It's possible to build an HA setup for AWX if you need it.

@MrMEEE btw I was able to do all upgrade paths mentioned on page https://github.com/MrMEEE/awx-build/blob/master/installguide.md from 1.0.7.4 to 2.0.0 and configuration for HA setup is still the same as found in #35 :
`ExecStart=/opt/awx/bin/celery worker -A awx -l debug --autoscale=50,4 -Ofair -n c

[2018-10-17 09:51] Neurozone commented on #47
We don't need HA setup, we works with vmware and have some VM who can switch from  a DC to another ^^

And yes ! Thank you for the work @MrMEEE

[2018-10-17 13:27] powertim commented on #47
@FlorianneRaven FYI It's more about load balancing than HA but do as your convenient. Just added this message to inform you that it's possible in replacement of Tower.

[2018-10-18 18:17] angystardust opened #48 "No virtualenv support"
Hi @MrMEEE,
first of all thanks for your effort.
I've noticed that installing your last rpm (2.0.1) it doesn't allow to create custom venv and associate them to an organization. This feature was introduced in tower 3.0 and in 3.3 it was further streamlined:
https://docs.ansible.com/ansible-tower/latest/html/upgrade-migration-guide/virtualenv.html

On a setup using your rpm, I cannot see the "Ansib

[2018-10-19 08:50] MrMEEE commented on #48
Hi

I think it's related to https://github.com/ansible/awx/issues/1815...

I'll see what I can do...

[2018-10-19 08:54] MrMEEE commented on #38
Please reopen if still valid..

[2018-10-19 08:54] #38 closed, assigned to MrMEEE

[2018-10-19 09:04] powertim commented on #36
Hi,

Sorry I forgot to reply.

`$ rpm -aq ansible`
`ansible-2.6.5-1.el7.noarch`

`$ rpm -ql ansible`
[rpm-qlansible.txt](https://github.com/MrMEEE/awx-build/files/2495118/rpm-qlansible.txt)

Best,

Tim.

[2018-10-19 12:41] efenex commented on #48
just had this same issue, restarting memcached and logging out/into AWX made the dropdown appear.

[2018-10-19 12:43] MrMEEE commented on #48
hmmmm... Not working here :(

[2018-10-19 13:05] efenex commented on #48
We are using your 2.0.1 RPM FYI.

I wrote the following ansible code to create and configure the virtualenv's (maybe it can help you in case the issue is in the configuration):

[code]

[2018-10-19 13:11] MrMEEE commented on #48
When I add a second venv, the dropdown shows up... hmmm... weird

[2018-10-19 13:15] angystardust commented on #48
by the way, i think we should replicate the same awx folder structure as the one in a tower setup:
[code]

[2018-10-19 13:20] angystardust commented on #48
@MrMEEE i think that the reason why the drop-down menu doesn't appear by default using your rpm is explained in this comment https://github.com/ansible/awx/issues/1815#issuecomment-385087991

[2018-10-20 06:33] ghost commented on #38
Thank you for your support and sorry for my missing reply. That script work very well.

[2018-10-20 06:49] ghost opened #49 "Missing rpm dependencies"
I'm writing a playbook which use lookup dig and module mssql_db and I discovered that I have missing rpm on my system: python2-pymssql.x86_64 and python-dns.noarch already distribuited in repo's base from Centos/Redhat.
It might be useful add a require in spec's file. Maybe python2-pymssql.x86_64 is not very used, but python-dns.noarch is useful.

[2018-10-29 14:49] franysk opened #50 "sqlite3.InterfaceError"
Help please, which day I struggle with the problem, I can not install awx by link https://github.com/MrMEEE/awx-build/blob/master/installguide.md

**sudo -u awx /opt/awx/bin/awx-manage migrate**
Operations to perform:
  Apply all migrations: auth, conf, contenttypes, djcelery, main, oauth2_provider, sessions, sites, social_django, sso, taggit
Running migrations:
  Applying main.0006_v320_release..

[2018-10-29 14:51] MrMEEE commented on #50
Are you trying to setup awx with sqlite? Haven't tried that..

[2018-10-29 15:03] franysk commented on #50
I wrote a command from the manual
Probably, an error occurs in the function:
    def _quote_params_for_last_executed_query(self, params):
        """
        Only for last_executed_query! Don't use this to execute SQL queries!
        """
        # This function is limited both by SQLITE_LIMIT_VARIABLE_NUMBER (the
        # number of parameters, default = 999) and SQLITE_MAX_COLUMN (the
        #

[2018-10-29 15:07] MrMEEE commented on #50
If you follow the complete install instruction, then it will be installer with postgres.. Have you done all of the steps?

[2018-10-29 15:14] tanji opened #51 "awx-dev repository is down"
https://copr.fedorainfracloud.org/coprs/mrmeee/awx-dev/repo/epel-7/mrmeee-awx-dev-epel-7.repo/repodata/repomd.xml

It returns a 404.

[2018-10-29 15:21] franysk commented on #50
I am using postgress 10 version.
The rest is according to the manual

[2018-10-31 14:38] tanji commented on #51
false alert, sorry

[2018-10-31 14:38] #51 closed, assigned to nobody

[2018-11-01 19:59] MrMEEE commented on #50
There is probably your problem.. haven't tested with postgres 10.. Should work, but apparently need some work..

[2018-11-06 10:54] negesti opened #52 "Unable to start after Upgrading to 2.1"
To restart awx after upgrading from 2.0 to 2.1 some some additional manual steps are required

1. when running ``sudo -u awx /opt/awx/bin/awx-manage makemigrations`` you have to merge the migrations
1. The folder /var/log/tower is missing and must be created manually
1. update the version in /var/lib/awx/.tower_version
from ``2.1.0.58`` to ``2.1.0``

[code]

[2018-11-06 19:01] angystardust commented on #52
Here, after the upgrade, both **awx-celery-beat** and **awx-celery-worker** fail to start:

[code]
[code]

[2018-11-07 10:03] MrMEEE commented on #52
@negesti Thanks for the info, it will be fixed in the next build.. (building right now)..

@angystardust Apparently the AWX people as switched away from celery.. This has been fixed in the next build (on it's way)

New build is: 2.1.0.74-2.el7

[2018-11-07 10:04] MrMEEE commented on #48
@angystardust Can we close this?

[2018-11-07 10:07] MrMEEE opened #53 "Postgres 10 Support"
https://github.com/MrMEEE/awx-build/issues/50 indicates that Postgres 10 doesn't work with AWX...

This needs testing and fixing

[2018-11-07 10:07] #50 closed, assigned to nobody

[2018-11-07 10:08] MrMEEE commented on #49
Thanks for the feedback.. I will consider this

[2018-11-07 10:13] angystardust commented on #48
@MrMEEE Yes, but please consider what i wrote in https://github.com/MrMEEE/awx-build/issues/48#issuecomment-431359396

[2018-11-07 10:15] MrMEEE commented on #48
@angystardust What is it that you see is different?

[2018-11-07 11:06] angystardust commented on #52
Thanks @MrMEEE. I successfully upgraded to 2.1.0.74-1.el7 and cherry-picked the _awx-dispatcher.service_ systemd service. Now I can login again in the AWX dashboard :+1:
But now, when I launch a JT, the page is not auto-refreshing anymore. I need to manually reload the page to get the status of the job :(

[2018-11-07 11:20] MrMEEE commented on #52
@angystardust This means 99% that websockets are not working..

Usually fixed by:

1. Restarting awx-web and awx-daphne
2. Clearing cache in browser

Hope that will fix it.. It works here :).. (Certified on my machine)

[2018-11-07 11:32] angystardust commented on #52
Thanks for the trick! I've restarted all the awx stack and cleaned up the cache: now it works again :confetti_ball:

[2018-11-07 11:43] MrMEEE commented on #52
Perfect... thanks for the feedback

[2018-11-07 11:43] #52 closed, assigned to MrMEEE

[2018-11-07 14:00] negesti commented on #52
just updated to 2.1.0.74 and still facing the tower version error

Exception: Missing or incorrect metadata for Tower version.  Ensure Tower was installed using the setup playbook

I had to update the version in var lib again

``echo "2.1.0" > /var/lib/awx/.tower_version``

Note: I had two > in my first post ;)

[2018-11-07 14:32] MrMEEE commented on #52
@negesti The fixed version is awx-2.1.0.74-2.el7.x86_64

awx-2.1.0.74-1.el7.x86_64 still have the issues..

I think it's almost done building..

[2018-11-07 18:28] negesti commented on #52
@MrMEEE  sry, only got the mail from yum-cron and have only checked the 0.74 (without the -2)

[2018-11-09 13:43] bamason14 opened #54 "Ansible Version Question"
It appears in AWX version 2.0.1 the Ansible version is set to 2.7.0 where in 2.1.0, Ansible version is 2.6.6. Is there a reason why it's been downgraded?

[2018-11-09 13:48] MrMEEE commented on #48
@angystardust ?????

[2018-11-09 13:48] MrMEEE commented on #54
Hi..

I saw some issues with the mailing module.. so I rolled back..

If you want/need 2.7.0 you can just add a virtualenv with the 2.7.0 version.. (https://github.com/MrMEEE/awx-build/issues/48)

I will probably bump it to 2.7.1 as soon as I have had the time to verify that the issue has been fixed..

[2018-11-09 13:50] bamason14 commented on #54
Awesome. I do need version 2.7 for some of the newer modules. Thank you for the explanation.

[2018-11-09 13:50] #54 closed, assigned to nobody

[2018-11-09 18:37] angystardust commented on #48
sorry for the delay. What I mean is: on a Tower setup the awx and ansible binaries are inside a default venv while on your rpm the binaries are inside /opt/awx/bin

[2018-11-09 20:44] Aglidic commented on #48
the fact is you can recreate the venv like tower and it will work.

I already done that because i needed some specific module.

You need to recreate an ansible venv and reinstall ansible in that venv through pip
An create a second venv awx

Both venv should be in /var/lib/awx/venv

And after that you can add all python module needed

[2018-11-11 07:01] jijendiranR opened #55 "Not Able to Run the template"
![screenshot 114](https://user-images.githubusercontent.com/32735542/48351417-36a1b500-e6b0-11e8-9908-387cf63904a9.png)

Not able to execute jobs
It is in the paused state not able to run any job and moreover no error in the web-log. Suggest solutions to fix this.

[2018-11-12 22:00] MrMEEE commented on #55
Hi

I usually see this when:

1. RabbitMQ is not running
2. awx-dispatcher is not running

Have it worked before? is this after an upgrade??

[2018-11-13 07:06] jijendiranR commented on #55
My awx-dispatcher is not started later I updated my AWX now it's working fine. Thank's for helping to fix it soon.
![screenshot 115](https://user-images.githubusercontent.com/32735542/48396539-cabb5d00-e740-11e8-9cf4-b50c9498ad74.png)

[2018-11-13 07:06] #55 closed, assigned to MrMEEE

[2018-11-13 13:12] jijendiranR opened #56 "Unable to import playbook from SVN"
While importing playbook from SCM(subversion) getting this below error

Traceback (most recent call last): File "/opt/awx/embedded/lib/python2.7/site-packages/awx/main/tasks.py", line 930, in run self.pre_run_hook(instance, **kwargs)
File "/opt/awx/embedded/lib/python2.7/site-packages/awx/main/tasks.py", line 1749,in pre_run_hook self.acquire_lock(instance)
File "/opt/awx/embedded/lib/python2.7/si

[2018-11-13 13:13] MrMEEE commented on #56
Hmmm.. New installation?? Has it worked before??

Are you running with SELinux active??

[2018-11-13 13:17] jijendiranR commented on #56
It is a new installation. Trying to import playbook from svn.
SELinux is in the enabled state.

[2018-11-13 13:19] MrMEEE commented on #56
Ok.. Might be SELinux enabled, haven't been tested throughly yet..

Can you try to temporarily disable SELinux (setenforce 0)?? And try to import again

[2018-11-13 13:27] jijendiranR commented on #56
Tried by setenforce 0 disabled SELinux again facing the above-mentioned error.

[2018-11-15 17:57] vosetrov-mdlive opened #57 "Unable to update project from Github"
awx Version     : 2.1.0.151
os: CentOS Linux release 7.5.1804
Python 2.7.5
Firewall and selinux are disabled
I can manually run git clone from the instance with the same credentials and it works.
I'm getting the error:
ssh_exchange_identification: Connection closed by remote host fatal: Could not read from remote repository. Please make sure you have the correct access rights and the repository ex

[2018-11-16 09:00] MrMEEE commented on #57
Hi

Which version are you running??

rpm -qa awx

[2018-11-16 09:07] MrMEEE commented on #56
Which version of AWX are you on??

[2018-11-16 11:46] jijendiranR commented on #56
AWX Version 2.1.0

[2018-11-16 11:50] MrMEEE commented on #56
From the awx or awx-dev repo??

Can you run a

rpm -aq awx

[2018-11-16 12:10] jijendiranR commented on #56
This is the awx version I have installed
awx-2.1.0.131-1.el7.x86_64

[2018-11-16 12:58] MrMEEE commented on #56
Haven't tried with subversion..

Could you verify that git works?

[2018-11-16 14:41] vosetrov-mdlive commented on #57
I added the awx version at the first line of my message
[root@mdlprodv2awx01 ~]# rpm -qa awx
awx-2.1.0.151-1.el7.x86_64
Actually, the problem not only in github update. I added a template and run it and I don't see any traffic on the network interface, in other words looks like ansible playbooks are not trying to reach out destination IPs

[2018-11-16 16:43] vosetrov-mdlive commented on #57
I was able to reproduce the issue on a pure clean installation and awx version 2.1.0.0. I created a project and tried to sync it, the same error and no outgoing traffic on the network interface to the git source IP.

[2018-11-20 07:39] jijendiranR commented on #56
Traceback (most recent call last): File "/opt/awx/embedded/lib/python2.7/site-packages/awx/main/tasks.py", line 930, in run self.pre_run_hook(instance, **kwargs) File "/opt/awx/embedded/lib/python2.7/site-packages/awx/main/tasks.py", line 1749, in pre_run_hook self.acquire_lock(instance) File "/opt/awx/embedded/lib/python2.7/site-packages/awx/main/tasks.py", line 1717, in acquire_lock self.lock_fd

[2018-11-20 10:20] MrMEEE commented on #56
Have just installed a fresh new awx-2.1.0.241-1.el7.x86_64 here.. following the install guide step by step.. and it works..

Any custom steps?

[2018-11-20 10:20] MrMEEE commented on #57
Have just installed a fresh new awx-2.1.0.241-1.el7.x86_64 here.. following the install guide step by step.. and it works..

Any custom steps?

Seems like you are two, that have the same issue: https://github.com/MrMEEE/awx-build/issues/56

[2018-11-20 15:36] vosetrov-mdlive commented on #57
I followed the installation guide and didn't do any custom steps. I noticed that inventory scripts work, but not ansible playbooks.

[2018-11-20 17:29] powertim opened #59 "Settings - LDAP auth bug on LDAP group type empty list"
Hi everyone,

I'm facing issue on the LDAP auth configuration since version 2.1.0 (currently awx-2.1.0.119-1.el7.x86_64)
The LDAP group type list is empty...

Do you guys have similar problem ?

I should have some values like:

- MemberDNGroupType

- GroupOfNamesType
- ...

Thanks !

Cheers,
Tim.

[2018-11-20 17:31] powertim commented on #59
A working one in version 2.0.1
![image](https://user-images.githubusercontent.com/8004432/48791584-5198a880-ecf2-11e8-9736-9aee54650e60.png)

And currently:
![image](https://user-images.githubusercontent.com/8004432/48791628-6a08c300-ecf2-11e8-9f77-f6d5a178d2e8.png)

Thanks !

[2018-11-21 09:16] powertim commented on #59
Fixed after upgrading to 2.1.0.258.

[2018-11-21 09:16] #59 closed, assigned to nobody

[2018-11-24 14:09] andysmagana opened #60 "Can I use Apache instead of NGNIX on AWX?"

[2018-11-26 16:27] andysmagana commented on #9
I have the awx rpm setup and running and webpage login but I would like to log in from a different server right now the angry potatoe is on the firefox tab of the browser but the page is blank.

[2018-11-26 19:05] tjyang commented on #9
Hi Andy,pls open another issue for this problem. And include details info but exclude private info. First guess is your firewall setting. pls try disable selinuxand firewall setting to see if remote web browser can see the login page.

[2018-11-26 19:19] andysmagana opened #61 "AWX blank login"
AWX RPM setup login page works locally.
From a remote computer AWX login page is blank.

SELINUX is off
Firewall is off
private ip for AWX is 192.168.4.33 using port setup with semanage port using port 8052
browser used if firefox
OS is Centos 7.5 on AWX and other server.
AWX /etc/nginx/nginx.conf file

`#user awx;

worker_processes  1;

error_log  /var/log/nginx/error_log warn;
pid        /var/ru

[2018-11-26 22:37] MrMEEE commented on #61
have you looked in the log files??

new installation or upgrade?? Have it worked before?

[2018-11-26 22:38] MrMEEE commented on #57
Have you added custom venvs??

[2018-11-26 23:41] sturgeonson commented on #57
No, everything is by default. (I'm writing from the second github account)

[2018-11-27 16:15] andysmagana commented on #61
I am going to re-install from the mrmeee copy awx-repo again and try to accomplish logging in to awx from another computer.

[2018-12-02 22:11] angystardust commented on #53
https://github.com/ansible/awx/pull/2853 should help with pg10 support ;)

[2018-12-04 21:04] tjyang opened #62 "Ansible version in AWX rpm"
Hi @MrMEEE

Do you know when ansible 2.7 will be bundled into AWX ?
The centos 7 ansible system rpm is updated to  ansible 2.7 already.

* ansible showing version is 2.6.6 from command line.

[code]
![image](https://user-images.githubusercontent.com/378638/49472284-a77e4d80-f7d4-11e8-8d69-d5da7b467e38.png)

[2018-12-04 21:07] MrMEEE commented on #62
Hi

I had some issues with 2.7.0, but haven't tested it sinde.. But the answer is, probably soon..

Else you can use venvs?

[2018-12-04 21:18] tjyang commented on #62
I am a salstack user and trying to switch over to ansible.  I haven't run big playbook yet, so I may not experience your ansible 2.7 issue.

I see [ansible 2.7 support OS reboot](https://docs.ansible.com/ansible/2.7/modules/reboot_module.html) and I like to try out reboot in AWX controlled nodes, thus the asking.

[2018-12-04 21:38] MrMEEE commented on #62
Ok.. If you want 2.7 right now, you can use venvs:
https://docs.ansible.com/ansible-tower/latest/html/upgrade-migration-guide/virtualenv.html

Just notice that there is a Bug that means that there needs to be created at least two venvs for them to show in AWX: https://github.com/MrMEEE/awx-build/issues/62

[2018-12-04 23:42] MrMEEE opened #63 "2.1.1.* versions breaks building (Waiting for pull request)"
When bumping their builds from 2.1.0 to 2.1.1, the AWX team forgot to bump the VERSION file..

This means that the resulting tar.gz file is named wrongly and so is the contained folder..

Waiting for them to merge:
https://github.com/ansible/awx/pull/2875

[2018-12-06 09:25] mjcasalogic commented on #63
Upstream bug: https://github.com/ansible/awx/issues/2876

[2018-12-07 09:57] MrMEEE commented on #62
From now on, AWX should be built with the newest available Ansible inside :)

[2018-12-07 09:57] #62 closed, assigned to nobody

[2018-12-07 09:57] MrMEEE commented on #61
Did you get it to work?

[2018-12-07 10:00] MrMEEE opened #64 "Fix structure"
sorry for the delay. What I mean is: on a Tower setup the awx and ansible binaries are inside a default venv while on your rpm the binaries are inside /opt/awx/bin

_Originally posted by @angystardust in https://github.com/MrMEEE/awx-build/issues/48#issuecomment-437454204_

[2018-12-07 10:00] MrMEEE commented on #57
Did you get this to work?

[2018-12-07 12:31] angystardust commented on #64
Thanks a lot for working on that :+1:

[2018-12-08 15:47] sturgeonson commented on #57
I rebuilt the server and chose stable repo. Now it works on
Version     : 2.1.0.0

[2018-12-11 15:46] efenex opened #65 "High-available configuration job distribution"
We've setup an HA cluster of AWX on 6 machines, using the following configuration:

- 3x postgresql
- 3x awx+rabbitmq

As a whole, the cluster works, any single server can go offline and the platform will continue to work. However, **jobs are not distributed fairly across all the nodes. All job runs exclusively go towards the first node**, unless the first node is down (in which case they go to no

[2018-12-11 19:41] vosetrov-mdlive commented on #57
I think I found the issue. When I configure a project to use github via ssh (git@github.com:xxxxxxxx/ansible.git) I see:
 /bin/git clone --origin origin '' /var/lib/awx/projects/_8__github
It means the github url is not passing for some reason.
If I change the url to https ( https://github.com/xxxxxxxxxxx/ansible.git):
I see in output:
/bin/git clone --origin origin https://github.com/xxxxxxxxxxxx

[2018-12-12 00:46] angystardust commented on #60
Hi @andysmagana both upstream (AWX) and downstream (Red Hat Ansible Tower) support only ngnix as a frontend webserver. Any reason why you would like to use Apache httpd instead of nginx?

[2018-12-12 00:48] angystardust commented on #63
2.1.2 was just released and it seems ok... https://github.com/ansible/awx/blob/2.1.2/VERSION

[2018-12-12 00:49] MrMEEE commented on #63
Yeah.. they just merged my patch before bumping the version to 2.1.2.. either way.. now they forgot to tag the release to 2.1.2 :P

[2018-12-12 00:49] #63 closed, assigned to MrMEEE

[2018-12-12 00:50] MrMEEE commented on #57
ahh... that makes sense .. maybe report this upstream, and they might fix it in the future :)

[2018-12-12 00:50] #57 closed, assigned to nobody

[2018-12-12 00:51] MrMEEE commented on #56
Please reopen if this problem persists

[2018-12-12 00:51] #56 closed, assigned to nobody

[2018-12-12 00:52] #48 closed, assigned to MrMEEE

[2018-12-12 08:00] powertim commented on #65
Hi,

You should not change the CELERY_BROKER_URL, keep it to its default value:
`CELERY_BROKER_URL = 'amqp://guest:guest@localhost:5672/%2F'`

Then, edit file `/etc/systemd/system/multi-user.target.wants/awx-celery-worker.service` and change ExecStart line  to:
`ExecStart=/opt/awx/bin/celery worker -A awx -l debug --autoscale=50,4 -Ofair -n celery@%H`

Btw, upgrading to version 2.1.0 will simplify

[2018-12-21 09:21] powertim commented on #65
@efenex does it works for you now ?
If yes, please close this issue.

Cheers,

Tim.

[2018-12-21 09:32] efenex commented on #65
Tim,

I've not been able to validate the solution yet, as I am only able to access this customer's setup sporadically. The current plan of action is to upgrade to 2.1 on my next visit as per your suggestion, which will hopefully solve this issue. I will close this issue for now, and re-open if there are still issues. Thank you for your help and follow-up!

[2018-12-21 09:32] #65 closed, assigned to nobody

[2018-12-21 09:35] powertim commented on #65
My pleasure.
Keep us updated if you need support after your upgrade.

[2019-01-01 04:31] tjyang commented on #30
Just a note to myself.

* Example of how  "awx-2.1.2.32-1.el7.x86_64" rpm got 2.1.2.32 version string
[code]
* so 2.1.2-32 is up to [qaa8cda0 commit](https://github.com/ansible/awx/commit/aa8cda0001ee9e8be35b0ca1a999e16a1ac8b899). Under [awx devel branch](https://github.com/ansible/awx/commits/devel)

[2019-01-04 10:35] Neurozone opened #66 "Cannot create new inventory"
After upgrading to :+1: yum info awx.x86_64
Loaded plugins: fastestmirror, langpacks
Loading mirror speeds from cached hostfile
Installed Packages
Name        : awx
Arch        : x86_64
Version     : 2.1.2.34
Release     : 1.el7
Size        : 363 M
Repo        : installed
From repo   : mrmeee-awx-dev
Summary     : Ansible AWX
License     : GPLv3
Description : Ansible AWX

We cannot create new inve

[2019-01-04 10:37] Neurozone commented on #66
The issue seems related to one of thoses files:

/opt/awx/static/js  ll
total 5672
-rwxr-xr-x 1 awx awx 2913967 Jan  2 20:58 app.7bd14d087353b3079b43.js
-rwxr-xr-x 1 awx awx 2888260 Jan  2 20:58 vendor.3b65b1cff200dd76a44d.js

[2019-01-05 01:24] MrMEEE commented on #66
Hi

Thanks for reporting...

I have fixed the issue (new node version) in 2.1.2.36-3.. it should be available very soon

[2019-01-05 11:26] ghost opened #67 "ansible_connection: network_cli require external rpm ansible"
I have the latest version of awx rpm from both repository dev and not on 2 vm for testing.
I never installed rpm ansible because I see ansible is already included in awx's rpm under /opt/awx/bin, but I tried to develop a playbook which use network_cli as connection, but I receive the error:

    "msg": "Unable to find location of 'ansible-connection'"

the only way for resolve the issue is install

[2019-01-05 11:40] ghost commented on #66
I tried the new version and fix the issue, thank you.
I suggest to use no dev repo for production, today I see you release a stable version 2.1 on no dev repo, with the follow commands I downgraded awx.

    yum clean all
    # change the baseurl repository to https://copr-be.cloud.fedoraproject.org/results/mrmeee/awx/epel-7-$basearch/
    yum downgrade awx

[2019-01-07 10:09] Neurozone opened #68 "No output from failed jobs"
Hello
Some jobs failed today and when i clicked on the name for the job there was no output nor stdout from the job.
Here is the error message in /var/log/messages :
Jan  7 10:55:05  awx-manage: 2019-01-07 09:55:05,194 WARNING  awx.main.dispatch job 301 (failed) encountered an error (rc=4), please see task stdout for details.

[2019-01-07 10:13] Neurozone commented on #68
![awx_error](https://user-images.githubusercontent.com/5229035/50762426-34ea0d00-126d-11e9-9e38-2c020f225eb6.JPG)

[2019-01-07 10:13] Neurozone commented on #68
It just stay on the working task.

yum info awx
Loaded plugins: fastestmirror, langpacks
Loading mirror speeds from cached hostfile
Installed Packages
Name        : awx
Arch        : x86_64
Version     : 2.1.2.1
Release     : 1.el7
Size        : 363 M
Repo        : installed
From repo   : mrmeee-awx
Summary     : Ansible AWX
License     : GPLv3
Description : Ansible AWX

[2019-01-07 10:33] Neurozone commented on #68
sorry browser error, it's running fine on chrome, not on waterfox/firefox

[2019-01-07 10:33] #68 closed, assigned to nobody

[2019-01-09 20:00] bwosborne opened #69 "Old AWX RPM Unavailable"
I am currently using your awx-2.0.1-1.el7.x86_64 rpm.

I cannot get REST API tokens with the newer RPMs but the older one is unavailable.

Is the 2.0.1 rpm archived anywhere?

I tried a procedure to build it myself but got a tar.gz instead of an RPM. I want to do some heavy testing so I do not want the "official" dockerized version.

[2019-01-10 08:36] MrMEEE commented on #69
Hi..

You can grab it here:

http://martin-juhl.dk/awx/awx-2.0.1-1.el7.x86_64.rpm

[2019-01-10 13:30] bwosborne commented on #69
Thank you for the link.

I assume the new REST API token pieces are still being developed. They are moving to be more compatible with OAuth,

[2019-01-10 13:45] #69 closed, assigned to nobody

[2019-01-11 14:32] tjyang commented on #66
FYI.
* I updated awx from 2.1.2.32 to 2.1.2.40 and the inventory creation is now working.

![image](https://user-images.githubusercontent.com/378638/51040544-64ef2400-157d-11e9-8316-1d718bea4da0.png)
* The rpm updated to.
[code]

[2019-01-11 20:02] MrMEEE commented on #66
Cool.. thanks for the feedback

[2019-01-11 20:02] #66 closed, assigned to MrMEEE

[2019-01-11 20:04] MrMEEE commented on #67
Hi..

You can just virtualenv's for different versions of ansible:

https://docs.ansible.com/ansible-tower/latest/html/upgrade-migration-guide/virtualenv.html

[2019-01-11 20:13] #61 closed, assigned to nobody

[2019-01-11 20:13] #60 closed, assigned to nobody

[2019-01-11 20:18] #47 closed, assigned to MrMEEE

[2019-01-18 13:47] ghost commented on #67
I explain better my issue, if I use awx rpm I can't use playbook which use network_cli, because /bin/network_cli is not included in rpm.
For solve my issue I need to install ansible rpm from repository epel, so now I have 2 ansible installed on my server, I think is wrong.

[2019-01-28 09:19] MrMEEE commented on #53
Supported from AWX-RPM 3.0.0

[2019-01-28 09:19] #53 closed, assigned to MrMEEE

[2019-01-28 09:20] MrMEEE commented on #64
Structure completely changed in 3.0.0 and forward.. any comments are welcome..

[2019-01-28 09:24] MrMEEE commented on #67
It's actually part of the design in AWX/Tower to have multiple Ansible venv (multiple versions) installed..

I haven't checked in AWX 2.1.2.. but in 3.0.0 it seems like the network_cli is there:

/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/ansible/plugins/connection/network_cli.py

[2019-01-28 09:26] MrMEEE commented on #50
Postgresql 10 is supported/required from awx-rpm 3.0.0..

[2019-01-28 09:27] MrMEEE commented on #36
hi..

I think this is fixed in AWX-RPM 3.0.0..

[2019-01-28 09:27] MrMEEE commented on #22
This should be fixed with AWX-RPM 3.0.0

[2019-01-28 09:27] #22 closed, assigned to MrMEEE

[2019-01-28 09:54] angystardust commented on #64
As soon as I will have time upgrade&test, I'll report here the results ;)
Thanks

[2019-01-28 12:28] MrMEEE commented on #12
@tjyang @sglepage
Now that the new version of awx (now called ansible-awx) has been released, I have splitted all the requirements into separate rpms.. (took a while)..

The dependencies as well as ansible-awx specs are available here... https://github.com/MrMEEE/ansible-awx-depends

[2019-01-28 13:04] tjyang commented on #12
@MrMEEE , what is your OS version  ?  I like to try to build the spec files.

[2019-01-28 13:06] MrMEEE commented on #12
Fully updated CentOS7..

This script is what I use to install deps:
[code]

[2019-01-28 21:44] adambirds opened #70 "VirtualEnv Issue"
I get the below issue when trying to load a project from git after installing through this method:

`Traceback (most recent call last): File "/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/awx/main/tasks.py", line 978, in run env = self.build_env(instance, **kwargs) File "/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/awx/main/tasks.py", line 1525, in build_env env = self.add_a

[2019-01-28 22:19] MrMEEE commented on #70
Hi

Thanks for the feedback..

in /etc/tower/settings.py

Try to change:

ANSIBLE_VENV_PATH = '/opt/awx/embedded'
to
ANSIBLE_VENV_PATH = '/opt/rh/rh-python36/root/usr/'

restart all awx services, and tell me if it works?

[2019-01-28 22:51] adambirds commented on #70
Hi @MrMEEE,

Looks like that has worked the project task running, not got time tonight, but will finish setting the job templates off Wednesday and confirm if those are working too.

But looks positive.

Thanks.

[2019-01-29 00:53] MrMEEE commented on #70
Ok.. great.. else try:

ANSIBLE_VENV_PATH = '/opt/rh/rh-python36/root/'

I can see that I have used that during testing :)

[2019-01-29 01:11] MrMEEE opened #71 "systemd scripts are not shutting down services correctly on AWX-RPM v.3.0.0"
[code]

[2019-01-29 12:48] MrMEEE commented on #71
Fixed in 3.0.0-8

[2019-01-29 12:48] #71 closed, assigned to MrMEEE

[2019-01-29 12:49] MrMEEE commented on #70
Fixed in v.3.0.0.0-8.. please reopen if you still have this issue

[2019-01-29 12:49] #70 closed, assigned to nobody

[2019-01-30 11:42] natman opened #72 "latyest pycurl 7.43 prevents from connecting to any RHV/ovirt job"
ISSUE TYPE

    Bug Report

COMPONENT NAME

    embedded pycurl 7.43 and nss
    ovirt4.py

SUMMARY

    /opt/awx/embedded/lib64/python2.7/site-packages/pycurl-7.43.0.1 is not compiled with nss support and prevents ovirt ansible module from connecting to the ovirt/RHV engine API.
    It also breaks ovirt4.py which is called by the synchronization of the inventories with RHV credentials.

ENVIRONME

[2019-01-30 11:46] natman commented on #33
because of the build of teh embedded pycurl 7.43 without nss support. All jobs related to RHV authentications are impacted, included RHV playbooks.
All details in this issue: https://github.com/MrMEEE/awx-build/issues/72

[2019-01-30 11:47] MrMEEE commented on #33
Ok.. we'll close this and move to #72

[2019-01-30 11:47] #33 closed, assigned to MrMEEE

[2019-01-30 11:49] MrMEEE commented on #72
AWX-RPM v.3.0.0 has completely changed the structure of the installation.. every python dep has been split out to separate rpms.. which means that stuff like this will be much easier to fix...

Could you upgrade to 3.0.0 and tell me if this issue is still present??

[2019-01-30 11:50] tjyang opened #73 "3.0 upgrade after: awx-dispatcher having problem to connect"
* awx-dispatcher was able to startup correctly

[code]
* But after  Running test job , it became  stale with following error message

[code]

* my upgrade steps(with a few correction from yours) from 2.1.2.59

[code]

[2019-01-30 12:01] tjyang commented on #73
I missed starting up rabbitmq-server ;-<

[2019-01-30 12:01] #73 closed, assigned to nobody

[2019-01-30 12:04] MrMEEE commented on #73
Cool :)

[2019-01-30 12:26] tjyang commented on #73
Detail [gdoc notes is here](https://docs.google.com/document/d/1M0bMi7Jbh1GXz7010jKakrEDST4ajcFhKTiaYnG4-kM/edit#heading=h.90i278xwpwsy)

[2019-01-30 12:28] MrMEEE commented on #73
Have you followed these notes?:

https://github.com/MrMEEE/awx-build/blob/master/migrations.md

[2019-02-04 13:33] Neurozone opened #74 "how to use port 80 for awx ?"
Hello.
I want to use port 80 for the web interface but i'm lost in the settings.
How can I configure awx to use the default port 80 ?

Thank you !

[2019-02-04 13:59] MrMEEE commented on #74
Hi

If you change any occurance in nginx.conf of 8052 to 80, and restart nginx.. That should fix it

[2019-02-04 14:00] Neurozone commented on #74
Ok thank you, i was afraid to break something if I changed the port number.

[2019-02-04 14:08] MrMEEE commented on #74
You might also need to change a line in /etc/tower/settings.py.. Also just look for 8052 and change to 80

[2019-02-04 14:18] Neurozone commented on #74
I think it's in /etc/awx/settings.py   ;)

[2019-02-04 15:05] MrMEEE commented on #74
Moved to /etc/tower from v.3.0.0 :)

[2019-02-05 11:03] Neurozone commented on #74
So, it works !

[2019-02-05 11:03] #74 closed, assigned to nobody

[2019-02-07 01:40] MrMEEE commented on #12
@tjyang I have commited one of the packages for being accepted into the fedora build community.. But it's going to be quite at big project:

https://bugzilla.redhat.com/show_bug.cgi?id=1672659

[2019-02-07 01:48] MrMEEE commented on #67
@etmatrix Did you get it to work?

[2019-02-07 01:51] MrMEEE commented on #18
This has not happened for quite some time now.. hope that upstream will be more nice to upgrades..

[2019-02-07 01:51] #18 closed, assigned to MrMEEE

[2019-02-07 01:53] MrMEEE commented on #9
@tjyang two thoughts...

1. I would like to keep the angry potato as the default logo, in that way people will also be able to differentiate between AWX-RPM and AWX docker

2. We should put this into an optional RPM-package

[2019-02-08 02:23] tjyang opened #75 "Need docs for new awx-rpm developer"
Hi @MrMEEE

Can you trouble you to write a  guide to on-board  new awx-rpm developer ?
This way we can attract more contributors and spread the rpm maintenance load.

For example I try(not very hard)  setup my own awx-rpm rpm build environment  but failed to finish the whole process.  Thinks I done so far.

1. create fedora account
2. prep my centos 7 rpm build environment ...

perhaps enable wiki

[2019-02-08 10:48] MrMEEE commented on #75
Hi

Well.. good point.. I'll get around it, as soon as I have the time..

Right now, the build process is split..

1. ansible-awx, which is autobuilt on my local AWX Server and then pushed to copr, if the build is successful

2. the dependencies, which are, for now, handbuilt by the use of some scripts.. I have added the scripts (they needs alot of cleaning) to the https://github.com/MrMEEE/ansibl

[2019-02-08 12:28] tjyang commented on #75
* Assuming ./build.sh is the main script to build dependency.
* how can I download all the python requirement pkg's tar.gz files  ?
* Here is the error

[code]

[2019-02-08 12:49] MrMEEE commented on #75
Hi..

There is currently not much automation.. so there is no main script... just a lot of scattered scripts..

the order should be something like:

1. Download source:
Download source for a specific package:
./download-pip-source.sh "pyrad==2.1"

Download sources from requirements file:
./download-pip-source.sh "-r requirements.txt"

2. unpack source and build spec files:
./build.sh

3. move spec

[2019-02-08 12:58] MrMEEE commented on #75
My autobuild playbooks for ansible-awx are available here.. (I'm maintaining them on my own local git, but will update them here from time to time):

https://github.com/MrMEEE/ansible-awx-auto-build

[2019-02-08 22:06] tjyang commented on #75
where is reqirements.txt that contains all the python module need to be built ?

[2019-02-08 23:14] MrMEEE commented on #75
They are in the source for awx, in the requirements folder...
requirements_git.txt and requirements.txt are needed for AWX and

requirements_ansible.txt and requirements_ansible_git.txt are needed for the "embedded" ansible (ansible as pip module)

Note that the _git.txt files are not parse able by the download-pip-source.sh script.. as they contain links to git repos and not pip names.. these hav

[2019-02-08 23:17] tjyang commented on #75
I am testing and learning your [build procedure in my gdoc](https://docs.google.com/document/d/1M0bMi7Jbh1GXz7010jKakrEDST4ajcFhKTiaYnG4-kM/edit#heading=h.lwvmvgl2kmud)

[2019-02-14 14:17] TryHardDoMore opened #76 "Missing import in site-packages/awx/main/tasks.py"
* Python version: 3.6.3
* AWX version: 3.0.1
* Repo used: https://copr.fedorainfracloud.org/coprs/mrmeee/ansible-awx/repo/epel-7/mrmeee-ansible-awx-epel-7.repo

* Details: Stucked in "Not Started" scheduled job:
* Logs:
[code]
* Solution: adding missing import helps.

[2019-02-14 14:25] MrMEEE commented on #76
Hi

Thanks for reporting.. In which log do you see this?

When you write "adding missing import".. do you mean that you install six or that you do an import in the python file??

[2019-02-14 14:46] MrMEEE commented on #76
This seems to be an upstream bug, which is already fixed..

https://github.com/ansible/awx/issues/3200

Which version of 3.0.1 are you running:

rpm -aq ansible-awx

[2019-02-14 15:13] TryHardDoMore commented on #76
I mean just adding import to file itself :)
* Version: ansible-awx-3.0.0.128-1.el7.x86_64

[2019-02-14 15:22] MrMEEE commented on #76
ahh.. so not 3.0.1...

This was fixed around 3.0.1.2-1.el7..

Please try to update..

[2019-02-14 15:23] TryHardDoMore commented on #76
ow, ma mistake. Thx :)

[2019-02-14 15:23] #76 closed, assigned to MrMEEE

[2019-02-16 01:02] MrMEEE commented on #64
Did you get a chance to check it out?

[2019-02-16 07:57] angystardust commented on #64
I’ll do in the next days. thanks for keeping on hold

[2019-02-22 02:27] wkleinhenz opened #79 "missing Python reqs"
When installing the 3.0 build i ran in to some missing python dependencies when doing the awx migrate step.

Django-split-settings
Django-qsstats-magic
Ansiconv
python-memcached
anslcrypto

i was able to add them using the  scl enable rh-python36 bash   command and after that the install migration finished as expected

[2019-02-22 03:03] wkleinhenz commented on #79
Quick add: also had to install
Asgi-amqp
Hyperlink
asgiref
Automat
uwsgi - required a C compiler so i used the groupinstall for Development Tools

[2019-02-22 03:44] wkleinhenz commented on #79
antoher addition, before being able to login i had to install the following
django-radius
onelogin
python3-saml
xmlsec
tacacs_plus

Also had to install boto for the inventory stuff

[2019-02-22 07:39] MrMEEE commented on #79
Did you follow the migration instructions?? Especially:

yum -y install --disablerepo='*' --enablerepo='mrmeee-ansible-awx, base' rh-python36*

This should install all deps

[2019-02-22 12:47] tjyang opened #80 "ansible-tower-cli rpm upgrade to 3.3.2 from 3.3.0"
When you got a chance.
R1: https://github.com/ansible/tower-cli/tags

[2019-02-22 12:51] tjyang opened #81 "[OK]: 3.0.1.97 to 3.0.1.107 upgrade 02/22/2019"
My [upgrade note](https://docs.google.com/document/d/1M0bMi7Jbh1GXz7010jKakrEDST4ajcFhKTiaYnG4-kM/edit#heading=h.fn0wcbvtnkqn) using my awx01.test.lan VM.

[2019-02-23 05:04] wkleinhenz commented on #79
yeah thanks for that i must have missed this line in the install script:
yum -y install --disablerepo='*' --enablerepo='mrmeee-ansible-awx, base' -x *-debuginfo rh-python36*

[2019-02-23 05:05] #79 closed, assigned to nobody

[2019-03-08 15:28] angystardust opened #82 "Upgrading from 2.1.0 to 3.0.1 broke everything"
Since I've upgraded to 3.0.1 nothing seems to work anymore
I suppose it has something to do with the new ANSIBLE_VENV_PATH (/opt/rh/rh-python36/root/)

I've already tried to restart all the services but I still have errors running nearly everything

[code]

[2019-03-08 15:35] MrMEEE commented on #82
My initial thought is that your investors script is not python3 compatible.. Have you tried testing it with python3..

If that IS the case, and you don't wanna spend time updating it to python3, you can create a python2 venv.. Even though AWX is updated to python3 itself, it still supports python2 venvs

[2019-03-08 17:07] angystardust commented on #82
I'm using the embedded `vmware_inventory.py` contained in the rpm packages. In 2.1 it worked but now it's working anymore. I'll try to create a python27 venv ;)

[2019-03-08 17:45] jijendiranR opened #83 "unable to find package rh-postgresql10"
Is there any other way to install  rh-postgresql10 apart from yum installer getting no package found an exception. Unable to proceed flow after this step

[2019-03-08 23:55] MrMEEE commented on #83
Hi

Have you remembered to install the "centos-release-scl-rh" package, before installing rh-postgresql10?

Are you on RHEL or CentOS?

[2019-03-09 04:40] jijendiranR commented on #83
I am currently using Red Hat Enterprise Linux Server release 7.6 (Maipo).
getting the following error while skipping it

Error: Package: ansible-awx-3.0.1.219-1.el7.x86_64 (mrmeee-ansible-awx)
           Requires: rh-postgresql10-postgresql-devel
Error: Package: rh-python36-psycopg2-2.7.3.2-1.x86_64 (mrmeee-ansible-awx)
           Requires: libpq.so.rh-postgresql10-5()(64bit)

[2019-03-09 07:42] MrMEEE commented on #83
As described in the installation (even though it might need a re-visit), you need the Red Hat Software Collections (rhscl) repo enabled

[2019-03-11 22:12] murali741 opened #84 "Template job is failing with 500 internal server error"
Hi Martin,

I have installed AWX as the instructions listed. Everything looks good but I have created job template and trying to run the job but I am getting error: Call to /api/v2/job_templates/7/launch failed. POST returned status: 500. A server error has occurred.

What is the fix for this error ??

Thanks
Murali Medi

[2019-03-11 22:15] MrMEEE commented on #84
Hi

Can you please look in the logs in /var/log/tower, and paste the errors?

[2019-03-11 22:19] murali741 commented on #84
[pid: 9339|app: 0|req: 1/1] 192.168.153.1 () {44 vars in 2307 bytes} [Mon Mar 11 22:18:36 2019] GET / => generated 11337 bytes in 721 msecs (HTTP/1.1 200) 7 headers in 320 bytes (1 switches on core 0)
[pid: 9345|app: 0|req: 1/2] 192.168.153.1 () {44 vars in 2280 bytes} [Mon Mar 11 22:18:37 2019] GET /api/ => generated 173 bytes in 1536 msecs (HTTP/1.1 200) 11 headers in 479 bytes (1 switches on co

[2019-03-11 22:55] murali741 commented on #84
Hi Martin,

I did fresh installation on another centos machine and it is working fine now. No issues

Thanks
Murali Medi

[2019-03-11 23:34] MrMEEE commented on #84
Looks like you were missing some dependencies.. good that you got it to work :)

[2019-03-11 23:34] #84 closed, assigned to MrMEEE

[2019-03-11 23:46] MrMEEE commented on #83
Did you get it to work?

[2019-03-11 23:47] MrMEEE commented on #81
Thanks

[2019-03-11 23:47] #81 closed, assigned to nobody

[2019-03-12 02:43] tjyang opened #85 "03/11/2019: 3.0.1.107 to 3.0.1.223 upgrade OK"
See the upgrade notes using my test machine at

https://docs.google.com/document/d/1M0bMi7Jbh1GXz7010jKakrEDST4ajcFhKTiaYnG4-kM/edit#heading=h.izxf6728sm9d

[2019-03-12 05:16] jijendiranR commented on #83
The issue still exists after installing rhscl, is there a way to use lower version i.e 2.0+ instead of moving to 3.0+ version. The lower version is working fine as of now.

[2019-03-12 08:16] MrMEEE commented on #83
could you please do a:
subscription-manager list
subscriptoin-manager repos --list-enabled
yum search rh-postgresql

[2019-03-12 08:18] #85 closed, assigned to nobody

[2019-03-12 08:19] MrMEEE commented on #75
This stuff should be added to the wiki

[2019-03-12 08:19] MrMEEE commented on #64
Did you get a change to look at it?

[2019-03-12 08:20] MrMEEE commented on #67
Please reopen if this issue persists

[2019-03-12 08:20] #67 closed, assigned to MrMEEE

[2019-03-12 08:20] MrMEEE commented on #72
please reopen if this persists in 3.0

[2019-03-12 08:20] #72 closed, assigned to MrMEEE

[2019-03-12 09:51] jijendiranR commented on #83
This is my result for the yum repo search

[root@vm-ansible01-p001 opc]# yum search rh-postgresql
Loaded plugins: langpacks, rhnplugin, ulninfo
This system is not registered with ULN.
You can use uln_register to register.
ULN Classic support will be disabled.
====================================================================== N/S matched: rh-postgresql ==========================================

[2019-03-12 10:14] MrMEEE commented on #83
Please send the output of the two first commands as well:

subscription-manager list
subscriptoin-manager repos --list-enabled

postgresql96 won't work

[2019-03-12 10:15] MrMEEE commented on #82
Did you get it to work?

[2019-03-12 10:16] jijendiranR commented on #83
Getting bash command not found exception

[2019-03-12 10:21] MrMEEE commented on #83
How did you succeed in removing subscription-manager on a RHEL system?? how do you update your systems??? Sure it's RHEL and not CentOS?

Please do a:

cat /etc/redhat-release

ls -la /etc/yum.repos.d/

cat /etc/yum.repos.d/redhat.repo

[2019-03-12 10:51] jijendiranR commented on #83
[root@vm-ansible01-p001 opc]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.6 (Maipo)

[root@vm-ansible01-p001 opc]# ls -la /etc/yum.repos.d/
total 96
drwxr-xr-x.  2 root root  4096 Nov  1 10:10 .
drwxr-xr-x. 94 root root  8192 Mar 12 10:36 ..
-rw-r--r--.  1 root root   338 Mar  8 13:05 ansible-awx.repo
-rw-r--r--.  1 root root   306 Mar  9 04:51 awx-rpm.repo
-rw-r--r--.  1 roo

[2019-03-12 10:53] MrMEEE commented on #83
Soooo... you are running RHEL, but updating from Oracle Linux updates?

That's weird..

[2019-03-12 10:53] MrMEEE commented on #83
one question... why?

[2019-03-12 10:56] MrMEEE commented on #83
It should work with the CentOS-SCLo-scl-rh... postgresql10 is in that repo... just be adviced that this machine is not support by neither Oracle or Red Hat

[2019-03-12 11:06] Neurozone commented on #83
You should register your vm to RedHat if you have a valid subscription or going to CentOS.
But mixing repos from different release and OS is not a good idea

[2019-03-12 11:07] MrMEEE commented on #83
@FlorianneRaven Completely agree...

[2019-03-12 11:45] jijendiranR commented on #83
Is there any other alternate way there to install awx.

[2019-03-12 12:45] MrMEEE commented on #83
Well.. there is always the docker install: https://github.com/ansible/awx

But in general I would highly recommend you to get the distributionchaos in order..

[2019-03-12 17:01] murali741 opened #86 "Email notification is failing"
Hi Martin,

I am running a job using tower. I have created a email and slack notification. After completion of my job I am not getting any notification basically those are failing.

What is the possible cause for this error??

Thanks
Murali Medi

[2019-03-12 17:06] MrMEEE commented on #86
Hi Murali

I presume that you are using AWX and not Ansible Tower (the Red Hat product)..

I need some more information.. Do you get any errors??

Have you tried looking in the log files in /var/log/tower ??

[2019-03-12 17:08] murali741 commented on #86
Yeah I am using AWX. I am not getting any errors. When I click on test email notification I am getting email notification is failed.

I have checked /var/log/tower there is no information about this

[2019-03-12 17:10] MrMEEE commented on #86
Can you attach a screenshot?

[2019-03-12 17:12] murali741 commented on #86
![image](https://user-images.githubusercontent.com/29415599/54220755-7e9ee000-44c8-11e9-92fa-9470fd8333b9.png)

[2019-03-12 17:36] MrMEEE commented on #86
Ok.. And some screenshots of the configuration of the notifications as well?

[2019-03-12 17:48] murali741 commented on #86
![image](https://user-images.githubusercontent.com/29415599/54223261-7d23e680-44cd-11e9-9c96-9ad883e8afbe.png)

[2019-03-12 17:55] MrMEEE commented on #86
And you notification template?

[2019-03-12 17:56] murali741 commented on #86
what is the notification template?

[2019-03-12 17:58] MrMEEE commented on #86
If you look at the last pic you sent, there is a link in the upper right corner

[2019-03-12 18:11] murali741 commented on #86
![image](https://user-images.githubusercontent.com/29415599/54224829-b6118a80-44d0-11e9-96cb-5086d1cb7cb7.png)

[2019-03-12 18:21] murali741 commented on #86
I have inserted the slack webhook token in the playbook yaml file I am getting the slack notification from the playbook not from the awx

[2019-03-12 18:52] MrMEEE commented on #86
Have you made sure that postfix (or another mailserver) is configured?

[2019-03-12 18:53] murali741 commented on #86
yeah, postfix configured and I have sent email from command line

[2019-03-12 18:57] MrMEEE commented on #86
Have you tried checking SELinux logs

sealert -a /var/log/audit/audit.log

Or temporarily disable selinux

setenforce  0

[2019-03-12 19:09] murali741 commented on #86
I have disabled firewall and selinux still not working

[2019-03-12 19:10] MrMEEE commented on #86
Have you checked /var/log/messages for errors?

[2019-03-12 19:15] murali741 commented on #86
[root@nh-testdocker ~]# tail /var/log/messages
Mar 12 15:14:36 nh-testdocker scl: 2019-03-12 19:14:36,336 DEBUG    awx.main.dispatch task a85b1abc-c8bf-443a-9471-a25634b3affc starting awx.main.tasks.cluster_node_heartbeat(*[])
Mar 12 15:14:36 nh-testdocker scl: 2019-03-12 19:14:36,338 DEBUG    awx.main.tasks Cluster node heartbeat task.
Mar 12 15:14:36 nh-testdocker scl: 2019-03-12 19:14:36,361 DE

[2019-03-13 12:55] helgiw opened #87 "python yum dependency issue with newest (3.x) install instructions"
Hi Martin

I'm having issues with the following yum install line:
yum -y install --disablerepo='' --enablerepo='mrmeee-ansible-awx, base' rh-python36

yum fails with:
(...)
--> Processing Dependency: /opt/rh/rh-python36/root/usr/bin/python3 for package: rh-python36-ansible-2.7.6-1.noarch
--> Processing Dependency: /opt/rh/rh-python36/root/usr/bin/python3 for package: rh-python36-jmespath-0.9.3-1.n

[2019-03-13 13:19] murali741 commented on #87
yum install -y rh-python36
yum -y install --disablerepo='*' --enablerepo='mrmeee-ansible-awx, base' -x *-debuginfo rh-python36*--exclude=rh-python36-python-typing-3.6.4-1.el7.noarch

will solve the issue

Thanks

[2019-03-13 14:29] murali741 commented on #86
I have checked the api logs I am seeing below error

            "created": "2019-03-13T14:18:56.299657Z",
            "modified": "2019-03-13T14:18:56.299688Z",
            "notification_template": 2,
            "error": "[Errno -2] Name or service not known",
            "status": "failed",
            "notifications_sent": 0,
            "notification_type": "email",

[2019-03-13 14:35] MrMEEE commented on #86
That is weird.. It's working here.. (Only tested email).. Have you tried the test email button (seem to remember there is on in the notification templates)

[2019-03-13 17:15] rchaud opened #88 "SSL Auto Refresh not Working"
Is anyone having issues with job auto refreshing when using SSL? I get all my templates stuck in Pending Status and the gray circle does not move like it used to.

This is version 2.1.2

[2019-03-13 20:34] murali741 commented on #86
I am doing with test email only. I have configured the sendmail server details and trying to test the email notification but I am getting the below error

451, b'Open relay not allowed - https://community.mimecast.com/docs/DOC-1369#451

[2019-03-13 21:14] MrMEEE commented on #86
Ohh.. That is the configuration of your postfix that is denying you..

[2019-03-13 21:59] MrMEEE commented on #88
what does your ssl configuration look like???

[2019-03-13 21:59] murali741 commented on #86
Do you know how to fix this issue??

Thanks
Murali Medi

[2019-03-13 22:00] MrMEEE commented on #87
Thanks.. Fixed in documentation

[2019-03-13 22:00] #87 closed, assigned to nobody

[2019-03-13 22:09] MrMEEE commented on #86
What is "mynetworks" set to in your main.cf??

[2019-03-13 23:58] murali741 commented on #86
127.0.0.0/8, 10.10.X.X/24

[2019-03-14 00:22] MrMEEE commented on #86
Try to look in the maillog, and see if there is a hint.. networks seems ok..

[2019-03-14 00:29] murali741 commented on #86
Okay sure Martin.

Thanks for the help

[2019-03-14 00:30] #86 closed, assigned to nobody

[2019-03-14 04:30] rchaud commented on #88
Actually I found the issue, it was a 301 redirect from http to https that broke it. I removed the config and just ran it on port 443 and it is working again.

[2019-03-14 04:30] #88 closed, assigned to nobody

[2019-03-14 12:20] MrMEEE commented on #83
@jijendiranR Can we close the case?

[2019-03-14 13:40] jijendiranR commented on #83
Yes. thanks to the extended support for analyzing the issue.

[2019-03-14 13:41] #83 closed, assigned to nobody

[2019-03-15 00:41] murali741 opened #89 "Ansible keeps loading forever"
Hi Martin,

I have installed and ansible AWX running fine but after sometime it page loading forever.

![image](https://user-images.githubusercontent.com/29415599/54400506-7cd84680-4699-11e9-926f-a02a29e38d5a.png)

[2019-03-15 00:53] murali741 commented on #89
Also, After running the job I am getting the email notification with job details like below

Job #53 had status failed, view details at https://towerhost/#/jobs/playbook/53

how to change the https://towerhost with my AWX host IP?? Does it have any .conf file?? What is the location of configuration file??

Thanks Martin

[2019-03-15 11:15] MrMEEE commented on #89
It's in the database...

You have set it with the commands
[code]

You should be able change it by rerunning the commands after changing the hostname

In regards to your first issue.. do you get any errors in the log files (/var/log/tower)??

[2019-03-22 18:28] andysmagana opened #90 "Do you have a playbook that installs packages and installs AWX standalone ?"
Do you have a playbook that installs packages and installs AWX standalone ?

[2019-03-22 19:36] gravelander opened #91 "awx-manage command not found"
I've gone through the [installation guide](https://github.com/MrMEEE/awx-build/blob/master/installguide.md), copying word-for-word but when I get to the "Configuring AWX" part, there is no awx-manage command to proceed.

Perhaps it's not listed in the installation?

[2019-03-22 21:42] MrMEEE commented on #91
Hi

Are you sure that you are using the software collections enabler??

example: sudo -u awx scl enable rh-python36 rh-postgresql10 "awx-manage create_preload_data"

awx-manage is in the ansible-awx package:

[root@akiva]# rpm -ql ansible-awx |grep awx-manage
/opt/rh/rh-python36/root/usr/bin/awx-manage

but is only usable with the rh-python36 software collection..

[2019-03-22 21:43] MrMEEE commented on #90
Hi

My good colleague and friend is doing just that here:

https://gitlab.com/MarcoDePollo/ansible-awx

[2019-03-22 23:37] andysmagana commented on #90
Thank  you this is exactly what I am looking for but I did leave a question under Issues over at that gitlab repo but my question is:

How would I change the role to create the postgres user and create database to an external postgres database and change the postgres10 to postgres96 ?

I work for a DoD facility and just looking for a role that would be able to be used in a disaster recovery situat

[2019-03-22 23:43] MrMEEE commented on #90
I don't think that he has done the external database stuff.. but it should be really simple, just change the database configuration in /etc/tower/settings.py, before deploying the database and remove the installation of postgres...

Going from PostgreSQL 10 to 9.6 is not possible... AWX is only supported on 10.. (or that is what upstream AWX guys say)

[2019-03-22 23:58] andysmagana commented on #90
Hello,

Regarding pointing to an external database this is what the /etc/tower/settings.py  contains:

DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'awx',
        # 'USER': os.getenv("DATABASE_USER", None),
        # 'PASSWORD': os.getenv("DATABASE_PASSWORD", None),
        # 'HOST': os.getenv("DATABASE_HOST", No

[2019-03-23 00:11] MrMEEE commented on #90
Yes, so just change those lines to your configuration, and remove the hashes..??

[2019-03-23 00:17] andysmagana commented on #90
Do you mean like this:

DATABASES = {
'default': {
'ATOMIC_REQUESTS': True,
'ENGINE': 'django.db.backends.postgresql',
'NAME': 'awx',
# 'USER': os.getenv("DATABASE_USER", None),

‘USER’: 'mrmeee',

# 'PASSWORD': os.getenv("DATABASE_PASSWORD", None),

‘PASSWORD’: 'secret',

# 'HOST': os.getenv("DATABASE_HOST", None),

‘HOST’: 'db1.some.place’,

# 'PORT': os.getenv("DATABASE_PORT", None),

‘PORT’: '

[2019-03-23 00:18] MrMEEE commented on #90
yeah.. something like that should work..

[2019-03-23 12:17] andysmagana commented on #90
Good morning getting this error running the playbook that can install AWX.  Thanks for your time.

TASK [awx : shell] *******************************************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "scl enable rh-postgresql10 \"postgresql-setup initdb\"", "delta": "0:00:00.069039", "

[2019-03-23 12:24] MrMEEE commented on #90
Hi

This is not my PlayBook.. Can you please report it at the PlayBook source..

[2019-03-23 12:43] Neurozone commented on #90
ERROR: The /var/lib/pgsql directory has wrong permissions.
 Please make sure the directory is writable by awx."

the error is really simple it depends on your linuc configuration, add awx to postgres group ?

If you don't know how to solve this, maybe you shouldn't try to install this. It a simple task for a linux sysadmin...

That's why I don't like end user doing commands with root permissions,

[2019-03-23 12:46] andysmagana commented on #90
Wow really ? Maybe this should be put in the AWX install repo.

[2019-03-23 15:51] MrMEEE commented on #90
@andysmagana The postgresql folder should only be readable by the postgres user.. my guess here is either:

1. you are running the playbook as the awx user, and it's designed for being runned as root
2. the playbook has a bug, which makes the postgres init run with the wrong user..

[2019-03-23 23:33] andysmagana commented on #90
I am looking for exactly like this AWX playbook we use CentOS but what I can say is I need the playbook to point to an external database because we use the Atlassian suite and its database is on postgres96. It would be cool to see this playbook pull all the packages required from an internal repo.

For example:

I have to download say for example with yumdownloader to include dependencies.
Then pu

[2019-03-24 07:29] MrMEEE commented on #90
That should be pretty simple? just make the changes.. except that I don't think you'll get it working on PostgreSQL 9.6

[2019-03-25 15:09] 6sossomons opened #92 "unable to sync to cloudforms"
First  off, LOVE the rpms, let me know if I can help with the process, as I would like to ensure that this continues to move forward...

Secondly, we have a Cloudforms (ManageIQ) box that we are getting inventory from.  When I run a sync however, I get the follow debug output:
----
    3.442 INFO     Updating inventory 2: ManageIQ
    3.463 DEBUG    Using base command: /opt/rh/rh-python36/root/bin

[2019-03-25 16:18] MrMEEE commented on #92
Hi..

Thanks for your feedback..

This is clearly a permissions issue...

I have corrected this in awx-ansible-3.0.1.340-2 .. Can you please update and try again?

[2019-03-25 16:18] MrMEEE commented on #91
Did you get this to work??

[2019-03-25 16:18] #90 closed, assigned to MrMEEE

[2019-03-25 16:19] MrMEEE commented on #89
Did you get this to work??

[2019-03-25 16:19] MrMEEE commented on #82
Please reopen, if this issue persists

[2019-03-25 16:19] #82 closed, assigned to nobody

[2019-03-25 16:20] MrMEEE commented on #64
I think this is fixed.. please reopen and correct me if i'm wrong

[2019-03-25 16:20] #64 closed, assigned to MrMEEE

[2019-03-25 18:25] 6sossomons commented on #92
It executes, but...
    3.488 INFO     Updating inventory 2: ManageIQ
    3.508 DEBUG    Using base command: /opt/rh/rh-python36/root/bin/ansible-inventory -i /opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/awx/plugins/inventory/cloudforms.py
    3.508 INFO     Reading Ansible inventory source: /opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/awx/plugins/inventory/cloudforms.py

[2019-03-25 22:01] MrMEEE commented on #92
Can you check if the ConfigParser package is installed?

rpm -aq rh-python36-configparser

[2019-03-26 15:21] 6sossomons commented on #92
Present and available...

# rpm -qa | grep rh-pyt | sort
rh-python36-2.0-1.el7.x86_64
rh-python36-adal-0.5.0-1.noarch
rh-python36-amqp-2.3.2-1.noarch
rh-python36-ansible-2.7.6-1.noarch
rh-python36-ansible-runner-1.3.0-1.noarch
rh-python36-ansiconv-1.0.0-1.noarch
rh-python36-apache-libcloud-2.2.1-1.noarch
rh-python36-appdirs-1.4.3-1.noarch
rh-python36-applicationinsights-0.11.1-1.noarch
rh-python36

[2019-03-26 18:41] 6sossomons commented on #89
You change this information in the Settings -> System in the GUI as well, no need to run the awx-manage command...

[2019-03-27 08:19] MrMEEE commented on #92
Hi..

rh-python36-build should be provided by:
rpm -ivh http://mirror.centos.org/centos/7/extras/x86_64/Packages/centos-release-scl-rh-2-2.el7.centos.noarch.rpm

It seems like some of the plugin scripts (cloudforms.py for one), are not python3 compatible.. (fails with ConfigParser not being able to import, due to rename to configparser).. I'm raising this issue upstream, to find out if there is a

[2019-03-27 08:22] MrMEEE commented on #89
@6sossomons Thanks for the update

[2019-03-27 14:59] 6sossomons commented on #92
I patched the configparser and have THAT running, now rabbit holed into:

------------ [WARNING]:  * Failed to parse /opt/rh/rh-python36/root/usr/lib/python3.6/site-
packages/awx/plugins/inventory/cloudforms.py with script plugin: Inventory
script (/opt/rh/rh-python36/root/usr/lib/python3.6/site-
packages/awx/plugins/inventory/cloudforms.py) had an execution error:
/opt/rh/rh-python36/root/lib/pyt

[2019-03-28 09:21] MrMEEE commented on #92
First of all.. I'm not sure that this is an issue with liburl.. to me it seems like your credentials for logging in to your ManageIQ box are wrong.. can you doublecheck?.. Have you had this working in AWX before they moved to python3?

To run a python2 environment, you need to follow the instructions in the installguide to create a venv.. just doing it for python2 instead.. so something like:

vir

[2019-03-28 11:28] bwosborne commented on #91
You must have selected the stable repo. It is broken and does not install awx.  I tried changing repos but am now reinstalling my os to try again with a clean install.

I am using CentOS 7. Reinstallation seems to work with the dev repo.

[2019-03-28 14:01] MrMEEE commented on #92
I have created a script that will create the venvs for you...

If you update to 4.0.0.6-3, it's included:
[code]

[2019-03-29 14:01] bamason14 opened #93 "set_stats not working"
I am trying to set and reference set_stats in a workflow. In first playbook I am setting the following:

[code]
The result is variable is not being set.

I get the following warning  in the first playbook.

CUSTOM STATS: ******************************************************************
 [WARNING]: Failure using method (v2_playbook_on_stats) in callback plugin
(<display_callback.module.AWXDefaultC

[2019-03-29 14:04] bamason14 commented on #93
I am running build ansible-awx.4.0.0.17-1 but have also tried it on build 2.1.2.59-1 with the same results.

[2019-03-29 15:52] 6sossomons commented on #92
I've updated earlier this morning, however the cloudforms fix yesterday was that the password was bad, once I patched cloudforms.py.

How can I review/watch logs on when AWX is upgrading?  I ran the update and then restarted the services and the updating screen has been going for 5 minutes now...
-----
AWX is Upgrading
AWXis currently upgrading.

This page will refresh when complete.
---------

[2019-03-29 18:17] MrMEEE commented on #92
Have you followed the update procedure in the installationguide??

I think it's because you haven't applied the database changes..

[2019-03-29 19:02] 6sossomons commented on #92
Yeah, I assumed that was it as well, I didn't think to worry with that earlier though as I didn't see a true "version change" in comparison to AWX updates..

I rolled back to my previous version and upgraded to the last 3.* version, started the services back up and re-created all of my virtual environments and we are good to go for now.  Everything seems to be working without issues.

I need a sec

[2019-03-29 19:06] MrMEEE commented on #92
The two commands in the installguide should take care of all database upgrades..

Also, if you look in the installguide, I have a list of the upgrades that I have confirmed working and workarounds, if needed..

[2019-03-29 22:53] timcgoodman opened #94 "SSH error when running job template"
This is a fresh install of AWX.  I'm trying to run a job template and I'm getting the following error message -

1
ansible-playbook 2.7.6
2
  config file = None
3
  configured module search path = ['/var/lib/awx/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
4
  ansible python module location = /opt/rh/rh-python36/root/lib/python3.6/site-packages/ansible
5
  executable location =

[2019-03-30 20:23] MrMEEE commented on #94
well, the obviuos, stupid solutions first:
The error says "UNREACHABLE", have you tried doing an ssh from the awx machine to savrp-puppetmods01.bh.intra, just to check that it has nothing to do with firewalls and stuff?

Can I see the configuration of the host?

Is it correct that you are using a proxy?

[2019-03-30 20:38] MrMEEE commented on #93
Hi

This is really not a AWX-RPM issue, as I see it, but as far as I know the set_stats are not meant to be pulled out again like facts or variables...

Maybe try something like this:

[code]

Or is there any specific reason that you want to use the set_stats?

[2019-03-30 20:40] MrMEEE commented on #91
Closing.. please reopen if this persists

[2019-03-30 20:40] #91 closed, assigned to nobody

[2019-03-30 20:41] MrMEEE commented on #89
Closing.. please reopen if issue persists

[2019-03-30 20:41] #89 closed, assigned to nobody

[2019-03-31 00:09] chris93111 opened #95 "inventory dyn bug with py3.6"
Hi

I try create inventory dyn with vmware and awx not foud the module pyvmomi

 [WARNING]:  * Failed to parse /opt/rh/rh-python36/root/usr/lib/python3.6/site-
packages/awx/plugins/inventory/vmware_inventory.py with script plugin:
Inventory script (/opt/rh/rh-python36/root/usr/lib/python3.6/site-
packages/awx/plugins/inventory/vmware_inventory.py) had an execution error:
### ERROR: This inventory

[2019-03-31 00:44] MrMEEE commented on #95
Have you installed all the dependencies from my repo??

Try to run:
rpm -aq rh-python36-pyvmomi

[2019-03-31 01:20] timcgoodman commented on #94
I can ssh from the awx server to the puppetmods server.

I am not using a proxy.

I can send you the configuration, just let me know what you want to see.

On Sat, Mar 30, 2019 at 4:23 PM Martin Juhl <notifications@github.com>
wrote:

[2019-03-31 06:13] MrMEEE commented on #94
Ok

Could send complete output of line 23?

Which authentication method do you use?

[2019-03-31 09:31] chris93111 commented on #95
yes dependencies is installed

rh-python36-pyvmomi-6.5-2.noarch
rh-python36-pyvmomi.noarch             6.5-2               @mrmeee-ansible-awx

[2019-03-31 09:53] chris93111 commented on #95
i have restore the path of venv , and i have other error

    1.900 INFO     Updating inventory 2: xxxxx
    3.140 DEBUG    Using base command: python /opt/rh/rh-python36/root/bin/ansible-inventory -i /opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/awx/plugins/inventory/vmware_inventory.py --playbook-dir /opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/awx/plugins/inventory
    3.

[2019-03-31 18:49] MrMEEE commented on #95
what was your VENV path before??

I would guess that this is because the vmware_inventory.py script isn't updated with support for python3...

https://github.com/ansible/awx/issues/3511

[2019-03-31 19:09] chris93111 commented on #95
Before I use python 2 and last ansible but i have the same error

I test with last awx in dockerhub and work with python 3

[2019-03-31 20:36] timcgoodman commented on #94
I am using password for authentication.

Here is the output of line 23
<savrp-puppetmods01.bh.intra> (255, b'', b'OpenSSH_7.4p1, OpenSSL
1.0.2k-fips 26 Jan 2017\r\ndebug1: Reading configuration data
/etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 62: Applying
options for *\r\ndebug1: auto-mux: Trying existing master\r\ndebug1:
Control socket "/tmp/awx_41_c6l1m3k0/cp/6af56bd988" does not
ex

[2019-04-01 07:36] MrMEEE commented on #95
Are you sure that it works in the docker version??

They seem to have the same issue?

https://github.com/ansible/ansible/issues/46727

[2019-04-01 07:38] MrMEEE commented on #94
What user are you trying to connect as?

Are you using become? and to what user

[2019-04-01 07:40] MrMEEE commented on #94
Just remembered something..

Try to run:

usermod -s /bin/bash awx

and then try again

[2019-04-01 08:36] chris93111 commented on #95
yes is work

   2.976 DEBUG    Using base command: python /usr/bin/ansible-inventory -i /var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/plugins/inventory/vmware_inventory.py --playbook-dir /var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/plugins/inventory
    2.976 INFO     Reading Ansible inventory source: /var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/plugins/inventory/vm

[2019-04-01 08:46] MrMEEE commented on #95
Seems like they are still running python2 in the docker version:

2.978 INFO Using PYTHONPATH: /var/lib/awx/venv/ansible/lib/python2.7/site-packages

please try to use awx-create-venv to create a python2 venv

[2019-04-01 09:08] chris93111 commented on #95
ok i have retry with python2 venv but is the same error, he go to python 3

ANSIBLE_VENV_PATH = '/var/lib/awx/venv/python2-ansible2.7.9-3032019/

    2.770 DEBUG    Using base command: python /var/lib/awx/venv/python2-ansible2.7.9-3032019/bin/ansible-inventory -i /opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/awx/plugins/inventory/vmware_inventory.py --playbook-dir /opt/rh/rh-python36/ro

[2019-04-01 09:18] MrMEEE commented on #95
And what if you try to create a python3 venv?

[2019-04-01 11:33] timcgoodman commented on #94
I am trying to connect as myself.  I do have the become option selected but
I don't specify a user.

I tried doing usermod -s /bin/bash awx but it still doesn't work.

On Mon, Apr 1, 2019 at 3:38 AM Martin Juhl <notifications@github.com> wrote:

[2019-04-01 12:33] chris93111 commented on #95
it's the same

    2.865 DEBUG    Using base command: python /var/lib/awx/venv/python3-ansible2.7.9-3032019/bin/ansible-inventory -i /opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/awx/plugins/inventory/vmware_inventory.py --playbook-dir /opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/awx/plugins/inventory
    2.866 INFO     Reading Ansible inventory source: /opt/rh/rh-python36/r

[2019-04-01 12:35] angystardust commented on #95
Seems like the same issue I've reported here -> https://github.com/MrMEEE/awx-build/issues/82

[2019-04-01 12:39] chris93111 commented on #95
@angystardust my installation is fromscratch

[2019-04-02 12:33] bamason14 commented on #93
Your right. I dont think this is a AWX RPM issue. The end goal is in my workflow is to pass the result of patching a server to the next job template on a per host basis. I cant seem to find a good way to do that.

[2019-04-02 14:30] bamason14 commented on #93
Opened issue with AWX.
https://github.com/ansible/awx/issues/3556

[2019-04-02 14:30] #93 closed, assigned to MrMEEE

[2019-04-02 15:16] MrMEEE commented on #93
Ok.. Hope that you'll get it working, good luck

[2019-04-03 10:59] flynn1973 opened #96 "PowerPC 64 Little Endian Support"
as i am running on ppc64le linux i need to rebuild every release myself before installing. where can i download the source rpms?

in the past it was here
https://copr-be.cloud.fedoraproject.org/results/mrmeee/awx-dev/epel-7-x86_64/
but i can not find newer versions now.

[2019-04-03 11:33] MrMEEE commented on #96
Hi

I have created a new repo:

https://copr-be.cloud.fedoraproject.org/results/mrmeee/ansible-awx/epel-7-x86_64/

[2019-04-03 17:15] MrMEEE commented on #96
Where do you get the rh-python36 from? I would love to add ppc64le to the autobuilds, but I can't get rh-python36 to compile?

https://copr-be.cloud.fedoraproject.org/results/mrmeee/ansible-awx/epel-7-ppc64le/00877715-rh-python36-python/builder-live.log

[2019-04-04 03:09] RunicBean opened #97 "Add new instance at INSTANCE_GROUP"
Hi MrMEEE,

Thanks for your awx rpm solution! I have some questions about adding new instances.
Assuming that I've built one awx MASTER server successfully, and I want to add one new instance for job running.
First, I did the total same process to build awx NODE except installing rabbitmq, postgresql.
Second, I changed some settings so that the awx NODE connects to the rabbitmq, postgresql server

[2019-04-04 07:29] flynn1973 commented on #96
Hmm..i looked at the source rpm of rh-python36 and it it seems this is just some kind of meta package. Just a spec file and some python macros. As i’m still on python 2.7  i might not be of great help.

________________________________­­­
Christian Tremel
IT-Services der Sozialversicherung GmbH

Rechenzentrum
AIX Systemadministrator
Gruberstraße 77
A – 4021 Linz
T: +43 (0)50124 844 1266
M: +43 (0)

[2019-04-04 18:07] MrMEEE commented on #96
Ok.. I think that I've figured it out.. would you be willing to test a python36 build of awx and dependencies on ppc64le?

[2019-04-05 09:00] MrMEEE commented on #97
Hi there..

I must admit that this is a part of AWX that I haven't really tested that much.. But I should.. so will do this in the near future..

I know that HA is working https://github.com/MrMEEE/awx-build/issues/26.. maybe you can use some inspiration from there?..

Have you tried looking at the documentation from Ansible Tower??

[2019-04-05 11:03] flynn1973 commented on #96
of course! :-)

[2019-04-08 00:18] MrMEEE commented on #96
Hi

I think I got it all to build...

You might need to add the extra postgresql repo, if you are using CentOS (shouldn't be nessescary with RHEL).. https://copr.fedorainfracloud.org/coprs/mrmeee/rh-postgresql10/

Else, just try to follow the install instructions..

Let me hear how it goes...

[2019-04-08 06:13] RunicBean commented on #97
Hi MrMEEE,

I've tested and it works well as cluster now. Some drafts about how this be built:
1. AWX clusters connect with each other via RabbitMQ so RabbitMQ should be clustered first among AWX clusters. And this action can provide HA solution if RabbitMQ queue is durable.
2. According to current building process, I took two additional actions: Building RabbitMQ clusters and Setting one external

[2019-04-08 06:13] #97 closed, assigned to MrMEEE

[2019-04-08 06:15] RunicBean commented on #97
@MrMEEE And hopefully can you please try a general clustering way and merge it into your build module when you are available? Thank you very much!

[2019-04-09 07:22] MrMEEE commented on #95
Hi

Stuff has been merge upstream to fix this issue.. could you try again with 4.0.0.227??

Thanks

[2019-04-09 18:57] 6sossomons opened #98 "Integrate ARA with AWX"
Have you had any luck integrating ARA with your AWX configurations?

[2019-04-09 19:14] MrMEEE commented on #98
Hi

Haven't tried, but looks fun :)..

Should be pretty easy to get my setup to build a RPM of ARA.. and then it should be simple to add it into the callback configuration of AWX...

Will look into it, in the near future

[2019-04-10 00:00] tjyang opened #99 "ansible-awx-4.0.0.248: ModuleNotFoundError: No module named 'prometheus_client'"
Hi @MrMEEE

4.0.0.248 rpm has following issue. Looks like  rh-python* for prometheus_client is missed.

[code]

[2019-04-10 07:56] MrMEEE commented on #99
Have you followed the upgrade instructions:

[code]

[2019-04-10 11:54] tjyang commented on #99
@MrMEEE
I missed this line to have "rh-python36-prometheus_client"(and others) installed.
[code]

[2019-04-10 11:54] #99 closed, assigned to nobody

[2019-04-11 16:47] angystardust commented on #95
Hi @MrMEEE I've just tried with a 2.7 venv and it works

[2019-04-18 15:59] titleistfour opened #100 "Upgrade to ansible-awx-4.0.0.341-1.el7.x86_64 broken"
Hello,

FYI, I upgraded AWX to ansible-awx-4.0.0.341-1.el7.x86_64 this morning and it seems to have broken something.  This is on a RHEL 7 box using SCL.  AWX is sitting behind an NGINX proxy.

[code]

Not sure what happened in the latest build.

Thanks

[2019-04-18 16:07] MrMEEE commented on #100
Have you remembered to run:

yum install --disablerepo='*' --enablerepo='mrmeee-ansible-awx, base' -x *-debuginfo rh-python36*

??

[2019-04-18 16:24] titleistfour commented on #100
Yes sir I did.  This is what shows as being installed

[code]

[2019-04-18 16:31] MrMEEE commented on #100
Please do a:

rpm -qa rh-python36-Django

[2019-04-18 16:31] titleistfour commented on #100
I get this

[code]

[2019-04-18 16:45] MrMEEE commented on #100
Will test later

[2019-04-18 19:34] MrMEEE commented on #100
ansible-awx-4.0.0.347-1.el7.x86_64 seems to work?? can you confirm?

[2019-04-18 19:53] titleistfour commented on #100
Still seeing the same Traceback in my /var/log/tower/web.log.  What the heck happened, everything was working just fine.  Of course, tried restarting services, no change.  Tried another browser, cleared the cache on it, same thing.  Not sure what to check on the system side as I'm fairly new to AWX.  Any suggestions?  Thanks

[2019-04-18 20:10] MrMEEE commented on #100
Can you send me a:
rpm -qa |grep rh-python36

[2019-04-18 20:12] titleistfour commented on #100
Sure. I sorted it to help.

[code]

[2019-04-18 21:29] MrMEEE commented on #100
Those are the exact same packages that I have installed.. the only difference being that I'm running on CentOS... hmmmm...

Probably gotta have to create a RHEL server for testing as well

[2019-04-18 21:45] titleistfour commented on #100
Would it be worth the effort to remove all the packages and reinstall?

[2019-04-18 21:47] MrMEEE commented on #100
well.. if it's a new setup, sure..

[2019-04-19 13:47] titleistfour commented on #100
Removing all the rh-python36* packages and ansible-awx package didn't seem to help.  Still getting the same traceback.  I did leave postgres alone since I do have data there.

I'm not sure what else to try.

[2019-04-21 09:51] MrMEEE commented on #100
It seems to be a mission python dependency problem..

Do you have any python stuff installed with pip on the system?

[2019-04-21 17:14] MrMEEE commented on #95
Hi, could you try again with python 3.6?

[2019-04-21 17:14] MrMEEE commented on #96
Hi... did you get the chance to try the ppc64le builds?

[2019-04-21 23:36] MrMEEE commented on #80
Is now available in the repo, as rh-python36-ansible-tower-cli, and automatically updated :)

[2019-04-21 23:36] #80 closed, assigned to MrMEEE

[2019-04-22 13:13] titleistfour commented on #100
On this system, I don't have pip installed.  But there are other python packages installed. Is there a particular one I should be looking at?

[2019-04-22 14:47] titleistfour commented on #100
I take that back.  It seems software collections has pip installed.

sudo -u awx scl enable rh-python36 "pip freeze"

That returns quite a list of packages.  Is there something particular you want to see?

[2019-04-23 06:12] flynn1973 commented on #96
Unfortunatlely not…got some weird problems while setting up the test lpar (not awx related)...i‘m working on it.

________________________________­­­
Christian Tremel
IT-Services der Sozialversicherung GmbH

Rechenzentrum
AIX Systemadministrator
Gruberstraße 77
A – 4021 Linz
T: +43 (0)50124 844 1266
M: +43 (0)664 88661266
christian.tremel@itsv.at<mailto:christian.tremel@itsv.at>
www.itsv.at<http:/

[2019-04-23 15:43] sujiar37 commented on #26
@MrMEEE , this a bit out of topic. But for those who wish to explore and automate the HA / Instance group using official docker stand alone method can be access it from [my repository](https://github.com/sujiar37/AWX-HA-InstanceGroup) . Were you able to add this piece of info under your wiki, may be some people out there could be helpful. Thanks

[2019-04-23 18:55] MrMEEE commented on #26
@sujiar37

So, basically, everything that is needed for a HA setup is to do a standalone postgresql (cluster) and a rabbitmq (cluster)

and then do frontends that connects to these??

Should be pretty simple to implement..

I have added a links section

[2019-04-24 02:37] sujiar37 commented on #26
@MrMEEE  , thank you for adding these piece of info under your wiki.

Only requirement is to setup a standalone postgresql and rest all will be taken care by playbook such as building and configuring the rabbitmq cluster and enabling the docker version of HA in all nodes. And Yes, it is pretty simple to implement now through [my playbook](https://github.com/sujiar37/AWX-HA-InstanceGroup/)

[2019-04-24 07:42] powertim commented on #26
Hi guys,
As we worked on it with @Aglidic to build the first HA implementation of the RPM, we have a playbook which does the full setup automatically.
It's just corporate currently, so I need find some time to generalize it if you want to add it somewhere.

Best,

Tim.

[2019-04-24 07:54] MrMEEE commented on #26
@powertim

I would love to include playbooks for installing in the RPM...

[2019-04-24 08:13] powertim commented on #26
OK so I'll add that to my TODO for the next days...

[2019-04-24 13:59] titleistfour commented on #100
Hello, any further updates on this issue?

Thanks

[2019-04-24 14:05] MrMEEE commented on #100
Could you send me the list??

[2019-04-24 14:21] titleistfour commented on #100
Sure can.

[code]

[2019-04-24 23:24] MrMEEE commented on #100
I have compared the list to my installation.. exactly the same..

I have installed and updated a RHEL installation, and I don't see any issue...

Can you show your /etc/tower/settings.py file?

When do you see the error? when you try to run a job??

[2019-04-25 12:54] titleistfour commented on #100
I get the server error immediately when I visit the site.  I can't get the login page to pull up anymore.  Here is my settings.py file.

[code]

Thanks

[2019-04-25 13:44] MrMEEE commented on #100
try adding "USE_X_FORWARDED_PORT = True" to your config file...

[2019-04-25 13:47] titleistfour commented on #100
I added that at the bottom of settings.py, restarted services and didn't seem to change the behavior.

I'm almost to the point where we have spent enough time on this, might be best to just backup the database and rebuild the server.

[2019-04-25 14:07] MrMEEE commented on #100
Does it work if you don't go through the nginx proxy?

It's weird..

[2019-04-25 14:22] titleistfour commented on #100
I can try that.  Where do I unbind it from localhost though?

[2019-04-25 14:24] MrMEEE commented on #100
change:

/usr/lib/systemd/system/awx-web.service

so that it listens on 0.0.0.0:8050 instead of localhost:8050

then do

systemctl daemon-reload
systemctl restart awx-web

and see if port 8050 works

[2019-04-25 14:36] titleistfour commented on #100
Doesn't look like I can pull up the login page on port 8050, just hangs in my browser.  It hangs for a while then I get a connection reset.  Nginx responds much faster with an error though.

[2019-04-25 14:46] MrMEEE commented on #100
It seems to be some kind of python conflict.. maybe some old code is laying around..

Could you try to:

yum -y remove ansible-awx rh-python36-Django

and look in the folders:

/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/django
and
/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/awx

these two folders shouldn't exist.. if they do.. can you look what files are in them?

[2019-04-25 14:49] titleistfour commented on #100
Removed those packages, and I don't see those 2 folders

[code]

[2019-04-25 15:00] krisfish1 opened #101 "ssh permissions issue"
Environment:
OS: All CentOS 7.6 machines.
AWX version: latest
User: ldap user with the ability to ssh without a password and sudo without a password.

Situation: I have a job/template to modify a file using the lineinfile module. Anytime, that I run a job with that requires sudo/ admin privileges, the job fails. I don't understand why its failing to access a python module in the users home directo

[2019-04-25 15:46] titleistfour commented on #100
I just did an upgrade on a completely different Centos 7 system.  This system is at a different company unrelated to the issue we have been working on.  I'm now getting the same python traceback as I was on the original upgrade that failed on a RHEL 7 system.

AWX was working perfectly fine prior to the upgrade.  Here is what was upgraded with `yum update`

[code]

So now I have 2 systems broken.

[2019-04-25 16:01] MrMEEE commented on #100
This is weird.. I have now updated 3 systems (2 CentOS, one RHEL).. and no issues...

Have you updated the OS packages as well?

COPR doesn't keep old packages for long.. but you can get them here:

http://martin-juhl.dk/awx/rh-python36-ansible-2.7.6-1.noarch.rpm
http://martin-juhl.dk/awx/rh-python36-colorama-0.3.9-1.noarch.rpm
http://martin-juhl.dk/awx/rh-python36-Django-1.11.16-1.noarch.rpm
http

[2019-04-25 16:45] titleistfour commented on #100
That yum update command I just ran only updated the packages I listed above, but probably in the past couple of weeks or so OS updates had been done.

I got the 2nd system back online by rolling back to ansible-awx-4.0.0.315-1 and rh-python36-Django-1.11.16-1.  It was a little behind the latest versions, but thought it might be a good test to see what would happen with CentOS 7.

The system with t

[2019-04-25 21:14] MrMEEE commented on #100
Have you tried updating to the newest version again, and see if the issue reappears?

[2019-04-25 21:34] titleistfour commented on #100
Yes, just tried it.  It breaks with the same traceback.  If I try and upgrade past ansible-awx-4.0.0.321-1.el7.x86_64.rpm, it doesn't work for me.

[2019-04-25 21:42] MrMEEE commented on #100
What if you upgrade only ansible-awx and not Django, is the problem still there?

[2019-04-25 21:42] titleistfour commented on #100
If I don't upgrade Django, I get errors in the web.log about an incorrect Django version and nothing works.

[2019-04-25 21:48] MrMEEE commented on #100
Not saying that it has anything to do with it.. but did you run the migration stuff??

[2019-04-25 21:53] titleistfour commented on #100
Not after the upgrades no.  I figured it wasn't necessary since this is a python session traceback error.

[2019-04-25 21:58] MrMEEE commented on #100
Right now it's just the only difference I see between our setups..

Do you have a chance to do a snapshot and try to run the migrations after upgrading.. ??

I'm reading commits on the 321 change, to see if I can find something..

[2019-04-25 22:05] titleistfour commented on #100
Well @#$@#!!!  That worked!  I got both systems upgraded to latest 376 build.

I owe you some beer for all of that help.  Got a paypal address I can send some money to?

Thank you for all the help!  I really appreciate your efforts.  I'll run the migrations after every upgrade now :P

[2019-04-25 22:05] #100 closed, assigned to nobody

[2019-04-25 22:05] MrMEEE commented on #100
Reading the commits, I'm pretty sure that 321 is actually broken.. I think you have to go to at least 329...

[2019-04-25 22:07] MrMEEE commented on #100
FANTASTIC!!!! :)

You are always welcome to donate a little something to: m@rtinjuhl.dk, so I can buy a few more Red Bulls (and a beer for the weekend)

[2019-04-25 22:12] titleistfour commented on #100
Sent some Red Bull/Beer money your way!  Thanks again for all the help.

[2019-04-25 22:18] MrMEEE commented on #101
I would guess that it's because of the isolation..

Try to add /home to the "Paths to expose to isolated Jobs" under Settings->Jobs

[2019-04-26 11:29] pwe123345 opened #102 "Timeout in the "Settings" Tab"
Hello,

after a newly installation I tried to configure LDAP Authentication according to my previous working setup.
I was confronted with several "HTTP 504 Timeout" error messages when trying to save.

After a bit testing, I get this error even when hitting any "revert" button.

Even when trying to change the "BASE URL OF THE TOWER HOST" in the "SYSTEM" section, I get a timeout.

So I think this i

[2019-04-26 12:21] MrMEEE commented on #102
Hi

I have just testet this on a RHEL and CentOS installation.. I don't see the issue..

Do you get any errors???

[2019-04-26 12:36] pwe123345 commented on #102
I get this error:

ERROR!

Failed to save settings. Returned status: 504

[2019-04-26 12:37] MrMEEE commented on #102
Have you checked /var/log/tower/web.log?

[2019-04-26 12:43] pwe123345 commented on #102
Here is the output:

2019-04-26 12:39:28,014 DEBUG    awx.main.dispatch publish awx.main.tasks.handle_setting_changes(851f6b4f-7b24-4f96-975e-b83ea02380f2, queue=tower_broadcast_all)
Fri Apr 26 14:41:28 2019 - *** HARAKIRI ON WORKER 3 (pid: 7458, try: 1) ***
Fri Apr 26 14:41:28 2019 - HARAKIRI !!! worker 3 status !!!
Fri Apr 26 14:41:28 2019 - HARAKIRI [core 0] <IP> - PATCH /api/v2/settings/all/ s

[2019-04-26 12:46] MrMEEE commented on #102
Ok.. Hos About /var/log/messages?

[2019-04-29 05:53] pwe123345 commented on #102
Nothing :(

[2019-04-29 06:05] vandanathakur0509 opened #103 "AWX jobs in pending version (ansible-awx-4.0.0.4-1)"
Hello,

AWX version (4.0.0.4-1).
Issue: Jobs going in pending state , until awx service restart done.

logs:
tail-f  /bar/log/messages
ask_manager(*[])
Apr 23 13:20:11 vuhplabstans001 scl: 2019-04-23 07:50:11,114 DEBUG    awx.main.scheduler Running Tower task manager.
Apr 23 13:20:11 vuhplabstans001 scl: 2019-04-23 07:50:11,141 DEBUG    awx.main.dispatch delivered 2ced4787-bf81-4d0a-992e-d1ff6e6f0

[2019-04-29 07:51] MrMEEE commented on #103
Could you start by updating to the newest version?

[2019-04-29 09:30] vandanathakur0509 commented on #103
Hello,

Thanks  for your  response, I was working on awx 1.0.2 before and had the same issue and upgraded this version to avoid the problem .
Could you please help  in understanding the reason for jobs  going into pending state.
Resources are enough and jobs running are less.

[2019-04-29 09:49] MrMEEE commented on #103
I have no idea why its hanging..

You mentioned that you changed the celery beat file.. what did you change?

[2019-04-29 09:51] vandanathakur0509 commented on #103
I performed below steps :in awx1.0.2
1.	Altered: awx-celery-worker.service
#ExecStart=/opt/awx/bin/celery worker -A awx -l info --autoscale=4 -Ofair -Q tower_scheduler,tower_broadcast_all,tower,%H -n celery@%H
To
ExecStart=/opt/awx/bin/celery worker -A awx -B -l info --autoscale=50,4 -Ofair -s /var/lib/awx/beat.db -n celery@%(ENV_HOSTNAME)s
2.	removed  /var/lib/awx/beat.db
3.	restarted AWX service

[2019-04-29 12:26] MrMEEE commented on #103
Can you try to run:

systemctl status awx-cbreceiver.service awx-channels-worker.service awx-daphne.service awx-dispatcher.service awx-web.service

[2019-04-29 12:38] MrMEEE commented on #102
can you try to change the settings with tower-cli??

yum -y install rh-python36-ansible-tower-cli
yum install --disablerepo='*' --enablerepo='mrmeee-ansible-awx, base' -x *-debuginfo rh-python36*

scl enable rh-python36 "tower-cli config host http://<awxhost>:8052"
scl enable rh-python36 "tower-cli config username <adminuser>"
scl enable rh-python36 "tower-cli config password <adminpassword>"

scl

[2019-04-30 03:10] vandanathakur0509 commented on #103
Issue came again!!!!
root@vuhplabstans001 ~]#  systemctl status awx-cbreceiver.service awx-channels-worker.service awx-daphne.service awx-dispatcher.service awx-web.service
● awx-cbreceiver.service - AWX cbreceiver service
   Loaded: loaded (/usr/lib/systemd/system/awx-cbreceiver.service; enabled; vendor preset: disabled)
   Active: active (running) since Mon 2019-04-29 16:19:20 IST; 18h ago
 Main

[2019-04-30 05:33] vandanathakur0509 commented on #103
tail -f  var/tower/web.log
[pid: 5443|app: 0|req: 66/169] 172.20.24.132 () {52 vars in 2399 bytes} [Tue Apr 30 05:30:45 2019] POST /api/v2/jobs/1001/cancel/ => generated 41 bytes in 143 msecs (HTTP/1.1 405) 8 headers in 264 bytes (1 switches on core 0)
==================================================[pid: 5441|app: 0|req: 24/170] 172.20.24.132 () {46 vars in 2262 bytes} [Tue Apr 30 05:30:58 2019

[2019-04-30 05:39] pwe123345 commented on #102
Here is the result:

[code]

[2019-04-30 08:16] MrMEEE commented on #102
Set host to:
host: http://localhost:8052

[2019-04-30 08:58] vandanathakur0509 commented on #103
these are  dispatcher.log

  File "/opt/rh/rh-python36/root/usr/lib64/python3.6/multiprocessing/popen_fork.py", line 18, in __init__
    sys.stderr.flush()
BrokenPipeError: [Errno 32] Broken pipe
2019-04-30 08:55:42,398 ERROR    awx.main.dispatch PID:5239 worker pid:None is gone (exit=None)
2019-04-30 08:55:42,418 ERROR    awx.main.dispatch PID:5239 requeuing 1 messages from gone worker pid:None
2

[2019-04-30 09:19] pwe123345 commented on #102
Same result:

[root@bre-awx01 ~]# scl enable rh-python36 "tower-cli config"

# User options (set with `tower-cli config`; stored in ~/.tower_cli.cfg).
host: http://localhost:8052
username: admin
password: password
verify_ssl: False

# Global options (set with `tower-cli config --scope=global`, stored in /etc/tower/tower_cli.cfg).
Traceback (most recent call last):
  File "/opt/rh/rh-python36/root/

[2019-05-01 10:50] vandanathakur0509 commented on #103
Hello ,

Any suggestions:)

[2019-05-01 14:14] dominiquearpin opened #104 "Invalid virtual environment selected: /opt/rh/rh-python36/root/ (4.0.0.354)"
Hi,

After upgrading from 4.0.0.227 to 4.0.0.354, I got this error when executing a win_ping:
Invalid virtual environment selected: /opt/rh/rh-python36/root/

Here the path I follow for upgrading:
4.0.0.227 -> 4.0.0.299
4.0.0.299 -> 4.0.0.347 (with workaround)
4.0.0.347 -> 4.0.0.354

Regards,

[2019-05-01 17:56] MrMEEE commented on #104
Hi..

Could you please check that the following is set in your /etc/tower/settings.py

and that "Enable job isolation" under Settings -> Jobs is enabled...

[2019-05-02 14:15] dominiquearpin commented on #104
Same problem…  However, the setting "Enable job isolation" is now activated..

And I install the latest RPM (4.0.0.440-1) this morning.

CentOS 7.6.1810

[root@ ~]# tower-cli setting get AWX_PROOT_ENABLED
================= =====
       id         value
================= =====
AWX_PROOT_ENABLED  true
================= =====

[root@ ~]# cat /etc/tower/settings.py |  egrep 'VENV|PROOT'
AWX_PROOT_ENAB

[2019-05-02 20:44] andysmagana opened #105 "how to shutdown AWX with systemd"
How can AWX be shutdown with systemd?

[2019-05-02 20:46] mjaperta commented on #105
systemctl stop awx-cbreceiver
systemctl stop awx-dispatcher
systemctl stop awx-channels-worker
systemctl stop awx-daphne
systemctl stop awx-web

[2019-05-02 20:47] andysmagana commented on #105
Is there a systemd service script to shut them all down ?

[2019-05-02 20:53] MrMEEE commented on #105
Not right now..

[2019-05-02 20:55] MrMEEE commented on #104
Try to update the rh-python36-ansible package to version: 2.7.10-2

[2019-05-02 22:20] MrMEEE commented on #103
I'm still unable to reproduce... I think you should update to a newer awx version.. and if that doesn't work, keep a lookout for https://github.com/ansible/awx/issues/3189.. seems to be an upstream bug

[2019-05-02 22:24] MrMEEE commented on #102
This a weird.. and not something I can seem to reproduce... :(..

Are you sure that there is not anything else (like a stacktrace) in web.log??

[2019-05-03 00:53] dominiquearpin commented on #104
Your right!  I updated the package and everything goes well!  Thanks!

[2019-05-03 00:53] #104 closed, assigned to nobody

[2019-05-03 10:05] bluikko commented on #105
This should be a simple task of creating a dummy unit file "awx" and modifying the existing awx-* unit files to contain PartOf & correct ordering of "child" unit files with After/Before.

Is this something @MrMEEE would accept as a pull request, should I have time for it?

[2019-05-03 10:06] andysmagana commented on #105
Thanks but is there a template or example so should I start with creating for example  awe_shutdown.target first ?

[2019-05-03 10:10] bluikko commented on #105
`man systemd.unit` has everything you need. A fully correct implementation should probably use Requires so that components that do not work without other components cannot be enabled piecemeal.

I've just started to look into AWX so cannot comment on unit file inter-dependencies, but I am looking to test this instead of vanilla AWX since I do not want to install Docker just for this.

Edit: not De

[2019-05-03 10:18] bluikko commented on #105
@andysmagana To be clear, and I am by no means a systemd expert, I would implement this with a top-level "dummy" service unit file, and set the existing awx-* service unit files to be linked to it and to other awx-* services so that they start and stop in the correct order.

I believe this would make for example stopping/restarting the whole AWX easier than using a target?

[2019-05-03 10:25] MrMEEE commented on #105
This IS a very simple task, just haven't had the need or time to do it..

@bluikko you are most welcome to do a pull request against my awx-rpm repo

[2019-05-03 10:26] MrMEEE commented on #105
Would prefer a self-service file though

[2019-05-03 11:09] andysmagana commented on #105
I just don’t know which of the 4 or 5 awx services go in order there is awx
web and awx daphne and awx channels worker awx cbreceiver awx dispatcher .

On Fri, May 3, 2019 at 5:26 AM Martin Juhl <notifications@github.com> wrote:

[2019-05-03 11:11] mjaperta commented on #105
@andysmagana There is no order.. it doesn't matter... but you probably need to include nginx, postgresql and rabbitmq as well

[2019-05-06 10:55] flynn1973 commented on #96
ok, got the machine install sorted out. there are some errors during install...
[code]

[code]

[2019-05-06 11:21] mjaperta commented on #96
Seems like I used a slightly older python minor than the one in Red Hat (3.6.3-4 vs 3.6.3-7)..

I have added 3.6.3-7, and I'm rebuilding.. I'll report back, when everything is ready

[2019-05-06 11:22] MrMEEE commented on #96
Seems like I used a slightly older python minor than the one in Red Hat (3.6.3-4 vs 3.6.3-7)..

I have added 3.6.3-7, and I'm rebuilding.. I'll report back, when everything is ready

[2019-05-06 12:59] MrMEEE commented on #96
Can you please try again.. there will probably still be missing something, but I hope that some of the errors are gone now...

[2019-05-06 13:02] flynn1973 commented on #96
still something is missing...

[code]

[2019-05-06 13:11] MrMEEE commented on #96
we just have to fix the dependencies 1 by 1.. :)..

rh-python36-scipy and rh-python36-python-sphinx can be skipped:

yum -y install --disablerepo='*' --enablerepo='mrmeee-ansible-awx, rhel-7-server-rpms' -x *-debuginfo,rh-python36-scipy,rh-python36-python-sphinx rh-python36*

[2019-05-06 13:15] MrMEEE commented on #96
ahh... try:

yum -y install --disablerepo='*' --enablerepo='mrmeee-ansible-awx, mrepo-rhel-7-server-for-power-le-rhscl-rpms-7latest' -x -debuginfo,rh-python36-scipy,rh-python36-python-sphinx rh-python36

[2019-05-06 13:16] MrMEEE commented on #96
if that doesn't work, try

yum -y install -x -debuginfo,rh-python36-scipy,rh-python36-python-sphinx rh-python36

[2019-05-06 13:22] flynn1973 commented on #96
[code]

[2019-05-06 13:28] MrMEEE commented on #96
[code]

[2019-05-06 13:49] flynn1973 commented on #96
wrong syntax or something like that...

[code]

[2019-05-06 13:51] flynn1973 commented on #96
wildcard char was missing...this looks far better ;-)

[code]

[2019-05-06 14:00] MrMEEE commented on #96
Just and sphinx-doc to the exclude list as well.. It's not needed

[2019-05-06 14:16] flynn1973 commented on #96
yum -y install -x *-debuginfo,rh-python36-scipy,rh-python36-python-sphinx,rh-python36-python-sphinx-doc* rh-python36*

produces a load off transaction check errors...see attached text file.

[yum.out.txt](https://github.com/MrMEEE/awx-build/files/3148320/yum.out.txt)

[2019-05-06 14:53] MrMEEE commented on #96
Try limiting to only my repo and your rhel base repo

[2019-05-06 21:39] MrMEEE commented on #96
[code]

[2019-05-07 03:49] vandanathakur0509 commented on #103
I get the issue  mostly when AWX is  kept  idle  for sometime,

As of now, upgrade is  not  an option in my scenario, so could you  please suggest something,

I  could  see the  worker is  stopped when the issue  comes  , worker is  not  getting  any  pid and  unable to  fork  .

ERROR:  in dispatcher.log:

   sys.stderr.flush()
BrokenPipeError: [Errno 32] Broken pipe
2019-05-06 03:11:23,181 ERROR

[2019-05-07 03:50] vandanathakur0509 commented on #103
PS logs::

root@vuhplabstans001 rabbitmq]# ps auxwf
USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
root         2  0.0  0.0      0     0 ?        S    Apr30   0:01 [kthreadd]
root         3  0.0  0.0      0     0 ?        S    Apr30   1:06  \_ [ksoftirqd/0]
root         5  0.0  0.0      0     0 ?        S<   Apr30   0:00  \_ [kworker/0:0H]
root         7  0.0  0.0      0

[2019-05-07 07:38] flynn1973 commented on #96
[code]

[2019-05-07 08:00] MrMEEE commented on #96
[code]
(Correct the repo name for your base-repo, if it's not correct..

[2019-05-07 08:11] MrMEEE commented on #103
I have no idea what you are doing differently that anyone else..

Why can't you upgrade?

[2019-05-07 08:43] vandanathakur0509 commented on #103
Thanks for reply:
I followed these steps..only:

yum -y install rabbitmq-server-3.7.5-1.el7.noarch.rpm

yum install -y rh-postgresql10*

yum install -y memcached*

yum -y install rh-python36*
yum -y install --disablerepo='*' --enablerepo='mrmeee-ansible-awx, rhel-7-server-rpms' -x *-debuginfo rh-python36*

yum install -y ansible-awx*

scl enable rh-postgresql10 "postgresql-setup initdb"

systemctl

[2019-05-07 08:45] flynn1973 commented on #96
no this does not work, we are going in circles here.

[2019-05-07 08:48] MrMEEE commented on #96
I don't think so..

Do you have any chance of giving me access to the system? I think I can fix it in 5 min

[2019-05-07 08:59] flynn1973 commented on #96
sorry, this system is isolated.

[2019-05-07 10:12] flynn1973 commented on #96
when i limit to only your repo get the follwing.

[code]
all the dependencies should come from your repo IMHO, otherwise this whole thing gets really messy.

[2019-05-07 10:22] MrMEEE commented on #96
All of these dependecies comes from standard Red Hat/CentOS Channels...

libxmlsec1, libtatlas, libcurl, libtk, xmlsec1, libgfortran, xmlsec1-openssl comes from the base channel:  rhel-7-for-power-le-rpms

httpd24-httpd-mmn, httpd24-httpd and libpq comes from software collections:  rhel-7-server-for-power-le-rhscl-rpms

[2019-05-07 10:24] MrMEEE commented on #103
Only thing I can find is that you don't use my nginx.conf

https://raw.githubusercontent.com/MrMEEE/awx-build/master/nginx.conf

[2019-05-07 10:26] MrMEEE commented on #101
Did you get this to work?

[2019-05-07 10:27] MrMEEE commented on #95
Did you get this to work?? please reopen if you didn't

[2019-05-07 10:29] flynn1973 commented on #96
nope,there is something missing apparently.

[code]

[2019-05-07 10:29] MrMEEE commented on #98
I have added rh-python36-ara to the repo, and it seems to work when I use it with standalone ansible.. but I can't get it to log anything with AWX (https://github.com/ansible-community/ara/issues/24)

When I (or someone else) gets it to work, I will add systemd scripts for the ara server..

[2019-05-07 10:29] #95 closed, assigned to MrMEEE

[2019-05-07 10:35] MrMEEE commented on #96
check again:
libxmlsec1 is in xmlsec1
libtatlas is in atlas
libtk is in tk
httpd24-httpd-mmn is in httpd24-httpd
libpq should come from rh-postgresql10-postgresql-libs

[2019-05-07 10:43] MrMEEE commented on #103
Also.. you are missing a star in the line:
[code]
Should be
[code]

[2019-05-07 10:51] flynn1973 commented on #96
this line resolves the errors.

[code]
then the transaction errors as before...

[code]

[2019-05-07 10:52] MrMEEE commented on #96
Try doing an "yum update" Before the installation

[2019-05-07 10:53] MrMEEE commented on #96
It's complaining because you are trying to install two different versions of the same package

[2019-05-07 10:54] MrMEEE commented on #96
Oh, wait..

Do a "yum remove rh-python36-Babel" before installing

[2019-05-07 10:55] flynn1973 commented on #96
*lol* i am not aware that im trying to install ANY package.

[2019-05-07 10:59] flynn1973 commented on #96
rh-python36-Babel is not installed, did yum clean all and yum update, errors persists.

is this line ok?
[code]

[2019-05-07 11:01] MrMEEE commented on #96
Try excluding rh-python36-Babel as well

[2019-05-07 11:54] flynn1973 commented on #96
same error

[2019-05-07 11:55] MrMEEE commented on #96
What is you line?

[2019-05-07 12:07] flynn1973 commented on #96
i picked one complained package to check for duplicates, but in fact there are none...this all makes no sense to me.

[code]

[2019-05-07 15:30] andysmagana commented on #105
Still trying to come up with something so far I have moved the services over to /etc/systemd/system/ and created a awx.target and put in [UNIT] PartOf=awx.target in everything how about that?

awe-cbreceiver
awx-channels-worker
awx-daphne
awx-dispatcher
ax-web

nginx.service
memcached.service
rabbitmq-server.service
rh-postgresql10-postgressql.service

[2019-05-07 15:45] MrMEEE commented on #105
If it works, it sound pretty good.. we have to move the services back to /usr/lib/system/systemd/ when I package them, but I'll take care of that..

Why did you move them?

[2019-05-07 15:48] andysmagana commented on #105
Back a while I came across RedHat talking about best practices for systems services when you modify them to move them there but I just copied them not move the original services are still in /usr/lib/systemd/system.

[2019-05-07 15:54] MrMEEE commented on #105
Ah.. That was exactly what I would have done.. :).. you just wrote moved :)

[2019-05-07 17:40] andysmagana commented on #105
I have just tested this and It works please make sure to add to ALL THE services the "WantedBy=awx.target"

[2019-05-07 17:42] andysmagana commented on #105
For example for the cbreceiver service
[Unit]
Description=AWX cbreceiver service
After=syslog.target network.target
PartOf=awx.target

[Service]
User=awx
Group=awx
EnvironmentFile=-/etc/sysconfig/awx
Environment=PYTHONPATH=/opt/awx/embedded/lib/python2.7/site-packages:/opt/awx/embedded/lib64/python2.7/site-packages
Environment=AWX_SETTINGS_FILE=/etc/awx/settings.py
Environment=PATH=/opt/awx/bin:/b

[2019-05-07 19:38] MrMEEE commented on #105
Does this also work for shutting down and restarting?

Could you do a pull request?

[2019-05-08 08:32] andysmagana commented on #105
Good Morning Martin,

Yes,

It is able to shutdown all services then you can either reboot or shutdown the box.

[2019-05-08 08:36] MrMEEE commented on #105
Just to be sure

systemctl start awx:
Starts all services

systemctl restart awx:
Restarts all services

systemctl stop awx:
Stops all services

??

[2019-05-08 08:37] andysmagana commented on #105
Yes it does that. Its very convenient now.

[2019-05-08 08:37] MrMEEE commented on #105
Cool.. Could you do a pull request?

[2019-05-08 08:38] andysmagana commented on #105
Oh yes I will let me get there and do that now. Thanks for reminding me.

[2019-05-08 13:49] flynn1973 commented on #96
any more ideas or should i go back and build from source?

[2019-05-08 13:56] MrMEEE commented on #96
I'm currently testing on a virtualized power machine.. will be back soon

[2019-05-08 17:01] MrMEEE commented on #96
Try this (correct rhel-7-for-power-le-rpms to your base repo):
[code]

[2019-05-08 23:01] MrMEEE commented on #96
also, add the optional repository "rhel-7-for-power-le-optional-rpms", before installing the ansible-awx package..

I now have all packages installed..

[2019-05-09 07:19] flynn1973 commented on #96
[code]

same errors as before...

[2019-05-09 07:21] flynn1973 commented on #96
i also tried it on a different machine just to rule that out...same errors

[2019-05-09 07:43] MrMEEE commented on #96
that is not your base repo... you should not have the rhscl and optional in the install line.. only the base repo